<verify-action-modal  #verifyActionModal ></verify-action-modal>
<edit-utility-modal #editUtilityModal></edit-utility-modal>
<add-stream-modal #addStreamModal [seasonId]="selectedSeason?.uniqueId" [possibleGroupsList]="possibleUserGroupsList" (onStreamAdded)="loadStreams()"></add-stream-modal>
<edit-stream-modal [verifyActionModal]="verifyActionModal"  (onEditStream)="updateStreams($event)" [possibleGroupsList]="possibleUserGroupsList" #editStreamModal
                       ></edit-stream-modal>
<div class="container_not">
    <div>
        <div id="tloader" [hidden]="!loading">
            <div></div>
        </div>
        <div style="float: right;    display: flex;">
            <div class="btn-group" *ngIf="!isViewer()" dropdown style="margin-right: 8px;" [hidden]="selectedSeason == null">
                <button id="single-button" type="button" class="btn btn-primary" dropdownToggle title="Actions">
                    <i class="ion-settings"></i>
                </button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu-right">
                    <li role="menuitem"  *ngIf="isShowEditUtil()"><a class="dropdown-item" (click)="onEditUtilities()" style=""><i class="fa ion-hammer" style="margin-right: 5px;"></i>Edit utilities</a></li>
                </ul>
            </div>
            <button  style="margin-right: 0px;" type="button" class="btn btn-primary" (click)="addStream()" *ngIf="canAddStream()">
                <i class="ion-plus"></i>
                Add Stream
            </button>

        </div>
        <custom-airlock-header [showConfig]="showConfig" (onShowConfigChanged)="setShowConfig($event)" [showDevFeatures]="showDevFeatures" (onShowDevFeaturesChanged)="setShowDevFeatures($event)"
                               [showSearch]="true" [showStreams]="true" (onSearchQueryChanged)="onSearchQueryChanged($event)" [numSearchResults]="filteredItems.length"
                               (onNextSearchResult)="showNextSearchResult($event)" [selectedResultNum]="selectedIndex"
                               ></custom-airlock-header>

        <div *ngIf="streams?.length > 0" class="row col-sm-12 featuresContainer" style="padding-bottom: 20px">
            <div [class.panel]="true" [class.hide]="!(streams?.length > 0)" [class.panel-warning]="true" [class.mx-group-background]="true" [class.full-width]="true" style="margin-bottom: 2px; margin-top: 2px;">
                <div class="panel-body" [class.smallPadding]="true" [class.noPadding]="false" [class.noRightPadding]="false">
                    <ul class="list-group" style="margin: 0px; background-color: transparent">
                        <div *ngIf="true" class="mx-group-panel">
                            <!--<p class="configTitle">{{getString('streams_header_text')}}</p>-->
                            <!--<span class="flexContainer">-->
                                <!--&lt;!&ndash;<button *ngIf="true" class="profile-toggle-link btn btn-default btn-icon reorder-button" [style.border-width]="0" aria-expanded="false" (click)="reorder()">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fa fa fa-sort"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;Reorder&ndash;&gt;-->
                                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                            <!--</span>-->
                        </div>
                        <stream-cell *ngFor="let stream of streams; let i = index"
                                         [stream]="stream" [level]="0"
                                         [searchTerm]="searchQueryString"
                                         [verifyActionModal]="verifyActionModal"
                                         [showDevFeatures]="showDevFeatures"
                                         [filterlistDict]="filterlistDict"
                                         [shouldOpenCell]="isCellOpen(stream.uniqueId)"
                                         [selectedId]="selectedId"
                                         [editStreamModal]="editStreamModal"
                                         (onSearchHit)="streamIsInFilter($event)"
                                         (onCellClick)="streamChangedStatus($event)"
                                         (onUpdate)="refreshTable($event)"
                                         (hideIndicator)="afterUpdate()"
                                         (beforeUpdate)="beforeUpdate($event)"
                                         (onSelected)="itemIsSelected($event)"
                        ></stream-cell>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</div>