
<modal #editUtilityModal id="editUtilityModal" class="editUtilityModal"  [backdrop]="'static'" data-keyboard="false" data-backdrop="static">
    <ace-modal #paceInputSchemaModalContainerDialog
                                        (outputEventInputSchemaUpdate)="curUtilityUpdatedExpanded($event)"

    >
    </ace-modal>
    <verify-action-modal  #verifyActionModal ></verify-action-modal>
    <show-message-modal #showMessageModal></show-message-modal>
    <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>
    <div id="tloader" [hidden]="!loading">
        <div></div>
    </div>
        <modal-header [show-close]="false" *ngIf = "season != null">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">

                <span >
                     {{title}}
                </span>

            </h4>

        </modal-header>
        <modal-body>
                    <div class="tabContentBackgroud tab-div-container" >
                        <div class="box">
                                                   <span class="flexcontainer">
                            <h5 class="modal-title">
                                {{getString('edit_utils_leading_text')}}                                <button class="modalLink modalLinkButton" (click)="showRuleHelp()">{{getString('edit_feature_rule_tab_learn_more')}}</button>

                                <br>

                                  <div  class="no-margin "  *ngIf = "utilities != null && utilities.length > 0">
                                                              <div class="row">
                            <div class="col-md-10">




                                </div>


                                            <!--<airlock-tooltip  [content]="getString('edit_utils_select_util')" [title]="getString('edit_stream_stage_title')"></airlock-tooltip>-->
 <div class="col-md-2 no-right-padding">
                        <button type="button"  class="btn btn-primary" (click)="createNewUtil()" style="cursor: pointer; float: right" [disabled]="!canAddNewUtil()">
                    <i class="ion-plus"></i>
                    Add Utility
                </button>
     </div>
                                                              </div>
                                      <div class="row" style="margin-top: 10px;">
                                          <div class="flexLeftcontainer">
                                              <label class="control-label" style="line-height: 35px;">{{getString('edit_utils_select_util_title')}} </label>
                                              <div  dropdown style="vertical-align:baseline;width:300px; padding-left: 8px;">
                                                <button type="button" class="btn btn-default btn-secondary form-control ui-select-toggle btnhover" dropdownToggle style="    background-color: rgb(41, 43, 44);width: 100%;/*color: white;background: transparent;border-width: thin;*/" [disabled]="isOnlyDisplayMode">
                                                    <div class="btnInText">
                                                        {{(isDirty || isInNewUtil())?"*":""}}{{getUtilName(selectedIndex)}}
                                                    </div>
                                                </button>
                                                <ul class="dropdown-menu" dropdownMenu style="max-height: 200px; overflow: auto">
                                                    <template ngFor let-item [ngForOf]="utilities" [ngForTrackBy]="itemTrackBy" let-i="index" >
                                                        <li class="dropdown-item" (click)="selectUtility(i)" style="cursor: pointer">{{getUtilName(i)}}<i *ngIf="item.stage=='PRODUCTION'" style="float: right;position: absolute; right: 10px;" class="fa fa-product-hunt production-indicator"></i></li>
                                                    </template>
                                                </ul>

                                                </div>
                                              <div class="btn-group"  dropdown style="width:70px;margin-bottom: 10px; margin-right: 8px;">
                                                <button id="single-button" class="btn btn-primary" *ngIf="selectedUtility != null" type="button"  dropdownToggle title="Actions" style="cursor: pointer;margin-right: 0px;margin-left: auto; height: 32px;" [disabled]="isAddNewMode || !(canDelete() || canChangeStage())">
                                                    <i class="ion-settings"></i>
                                                </button>
                                                <ul dropdownMenu role="menu"  *ngIf="selectedUtility != null" aria-labelledby="single-button" class="dropdown-menu-right">
                                                    <li  role="menuitem"  *ngIf="canChangeStage() " ><a class="dropdown-item" [class.disabled]= "false" (click)="changeStage()"><i class="fa" [class.ion-code-working]="selectedUtility.stage!='DEVELOPMENT'" [class.fa-flag]="selectedUtility.stage=='DEVELOPMENT'"style="margin-right: 5px;"></i>                                                        {{(selectedUtility.stage != "PRODUCTION")?getString('edit_utils_release_to_prodution'):getString('edit_utils_revert_to_development')}}</a></li>
                                                    <li  role="menuitem"  ><a class="dropdown-item"[class.grayText]="!canDelete()" [class.disabled]= "!canDelete()" (click)="canDelete() && deleteUtility()" style="color: red" ><i class="fa ion-trash-b" style="margin-right: 15px;"></i>Delete</a></li>
                                                </ul>
                                          </div>
                                      </div>
                                      </div>

                                                                              </div>

                            </h5>

                        </span>
                            <div  class="no-margin "  *ngIf = "season != null && selectedUtility != null">
                                <div class="row">
                                    <div class="col-md-7 no-left-padding">
                                <label for="input01" class="control-label">Name</label>
                                <airlock-tooltip class="endFlexContainer" [content]="getString('edit_feature_name')" [title]="getString('edit_feature_name_title')"></airlock-tooltip>
                                <input type="text"[disabled] = "isOnlyDisplayMode" id="input01" placeholder="" [(ngModel)]="selectedUtility.name"  class="form-control blackText" tabindex="1" (change)="markDirtyName()">
                            </div>
                                    <div class="col-md-5 no-right-padding">
                                        <label for="input101" class="control-label">Stage</label>
                                        <airlock-tooltip class="endFlexContainer" [content]="getString('edit_feature_name')" [title]="getString('edit_feature_name_title')"></airlock-tooltip>
                                        <input type="text"[disabled] = "true" id="input101" placeholder="" [(ngModel)]="selectedUtility.stage"  class="form-control blackText" tabindex="1">

                                    </div>
                                    </div>
                                </div>
                            <div  class="form-group"  *ngIf = "season != null">
                                <!--<label for="input59" class="control-label">Input schema</label>-->
                                <airlock-tooltip class="endFlexContainer small-right-padding" style="padding-right: 1px" [content]="getString('edit_feature_output_config')" [title]="getString('edit_feature_output_config_title')"></airlock-tooltip>
                                <button class="btn btn-expand btn-expand-down btn-icon" type="button" (click)="openAceEditorOutputConfigurationExpand()">
                                    <i class="ion-arrow-expand"></i>
                                </button>
                                <div #mytesteditor3 ace-editor (onTextChanged)="curUtilityUpdated($event)" [senddiff]="true"
                                     [markdown]="curUtilityString" [readonly]="isOnlyDisplayMode" [sample]="" [heightSize]="aceEditorConfigurationHeight">
                                </div>
                            </div>

                        </div>
                    </div>
            <input type="text" #plainVersion style="display: none;width: 860px;">

        </modal-body>
        <modal-footer *ngIf = "season != null">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="save()" [disabled] = "!canSave()">Save</button>
        </modal-footer>
    </modal>
