
<!--<div *ngIf="tree.children && tree?.children?.length > 0">-->
<!--    <accordion>-->
<!--        <accordion-group panelClass="myAcc" [isOpen]="true">-->
<!--            <div accordion-heading class="panel-warning">-->
<!--                &lt;!&ndash;<i [class.ion-arrow-right-b]="!isItOpen" [class.ion-arrow-down-b]="isItOpen"></i>&ndash;&gt;-->
<!--                {{tree.value}}-->
<!--            </div>-->
<!--            <div class="myAcc">-->
<!--                <group-node class="padLeft" *ngFor="let child of tree.children" [tree]="child"></group-node>-->
<!--            </div>-->


<!--        </accordion-group>-->
<!--    </accordion>-->

<!--</div>-->
<!--<div *ngIf="tree?.children?.length <= 0">-->

<!--    <li style="overflow: hidden !important;text-overflow: ellipsis !important;">{{tree.value}}</li>-->
<!--</div>-->

