//@import '../../sass/preloader';
.progress-striped {
  height: 50%;
}
td {
  text-align: start;
}

ul {
  margin-bottom: 0px;
}

.list-group {
  margin-bottom: 0px;
}

.inside-pop-text {
  color: black;
}
.feature-cell {
  padding-bottom: 0px;
  table-layout: fixed;
}

.new-icon {
  vertical-align: top;
  top: 10px;
  font-weight: 500;
  position: absolute;
}

.reported-to-analytics-icon {
  font-size: 25px;
  color: #3c3c3c;
}

.third-party-desc {
  font-size: 10px;
  border: 1px solid #83868b;
  background: aliceblue;
}

.statuses-desc {
  text-align: center;
  font-size: 12px;
}
.table > tbody > tr > td {
  padding: 0px 8px;
  line-height: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.selected-feature {
  background-color: rgba(255, 212, 133,1.0);
}

.descpCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.descpDiv {
  margin-right: 8px;
}

.dashPopver {
  background-color: white;
  color: black;
}

.subHeaderDiv {
  font-size: 11px;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.71);
  line-height: 8px;
}

.subHeaderDivSince {
  font-size: 8px;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.71);
  line-height: 6px;
  padding-top: 4px;
}

.subHeaderDivSince1:hover {
  font-size:12px;
  color: rgba(128, 128, 128, 1);
  font-size-adjust: 20;
}
progress {
  background-color: transparent;
  background: transparent;
}
.progress {
  background-color: #f5f5f5;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}
.progress-bar-striped, .progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

.progress {
  height: 20px;
  background: rgba(0, 0, 0, 0.15);
}
.progress-striped {
  background: rgba(0, 0, 0, 0.15);
}
div.progress {
  height: 20px;
}

.top-dropdown-menu.profile-dropdown {
  width: 250px;
  top: 45px;
  right: -20px;
  left: auto;
  z-index: 9999999;
}

.top-dropdown-menu.profile-dropdown i.dropdown-arr {
  right: 25px;
}
.children-wrapper {

}


/*for inside cells wrapping*/
ul {
  margin-bottom: 0px;

}
.panel {
  background-color: rgba(255,255,255,0.40);
}

.panel-body[_ngcontent-hoa-10] {
  padding: 8px;
}

.panel-warning {
  margin-bottom: 20px;
}

.table {
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;

}
.modalBodyClass{
  color: white !important;
}
.modalBodyClass p{
  color: white  !important;
}

.panel {
  background-color: rgba(255,255,255,0.40);
}

.panel-body[_ngcontent-hoa-10] {
  padding: 8px;
}


//.variant-cell {
//  padding-bottom: 0px;
//  padding-top: 10px;
//  padding-left: 15px;
//  padding-right: 15px;
//  background-color: white;
//}

.list-group {
  background: white;
}

.col-sm-12 {
  padding: 0px;
}

.noPadding {
  padding: 0px;
}
.smallPadding {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.cursor   {
  cursor: pointer;
}
.cursor:hover   {
  cursor: pointer;
}
.noRightPadding {
  padding-right: 0px;
  padding-left: 8px;
}
.topPadding {
  margin-top: 4px;
}

.transition{
  -webkit-transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out ;
  -o-transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out;
  transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out;
  //margin-left: 1500px;
  //width: 200px;
  opacity: 0;
}

.transitionActive{
  opacity: 1.8;
  //margin-left: 0;
}

.table-hover > tbody > tr:hover {
  //background-color: #f5f5f5;
  opacity: 1.0;
}



.middle-align-element {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 5px;
}

.progress-text-align {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-width: 53px;
}
.buttonMargin {
  margin: 3px;
}

.flexContainer {
  float: right;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.popover-stats {
  padding-left: 6px;
  font-size: 12px;
  p {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .dash-title {
    margin-bottom: 3px;
    font-weight: 600;
  }
}

.dashFlexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-left: 8px;
  margin-bottom: 8px;
  min-width: 200px;
}
.mx-group-panel {
  color: white;
  text-shadow: 0.5px 0.5px #1C2B36;
  padding: 1px;
  font-size: small;

}

.mx-group-background {
  background-color: rgba(129, 112, 156, 0.8);
}

.reorder-button {
  float: right;
  padding-top: 0px;
  text-shadow: 0.5px 0.5px #1C2B36;
}

.configTitle {
  padding-top: 2px;
  padding-left: 4px;
  float: left;
}

.capitalize {
  text-transform: capitalize;
}

.info-icon {
  padding-left: 2px;
  font-size: 15px;
}

.hypothesis-icon {

}

.measurements-icon {

}
.user-groups {
  padding-left: 2px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.61);
}
.noExpand {
  .btn:hover {
    transform: none !important;
    background-color: #009ff3 !important;
  }
}

.btn:hover {
  transform: none !important;
  color: white;
  background-color: rgba(26, 37, 128, 0.35) !important;
}


.hide {
  display: none;
}
.prod {
  font-weight: 700;
}
.destructive {
  color: red;
}

.disable-action {
  color: rgba(0,0,0,0.2);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.star-icon{
  font-size: 22px;
  color: darkgray;
}

.flask-icon {
  font-size: 22px;
  color: darkgreen;
}

.dashboard-icon {
  font-size: 22px;
}

.dashboard-icon img {
  width: 25px;
  height: 25px;
}

.tooltip-dashboard {
  width:76px;
  height: 76px;
  margin-right: 8px;
}

.dash-link-message {
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 4px;
}

.dash-link-no-permissions {
  opacity: 0.5;
}
.no-dash-message {
  color: rgba(50, 18, 0, 0.5);
  font-weight: 600;
  text-align: center;
  font-size: 13px;
  margin-bottom: 0px;
  margin-top: 4px;
}

.last-indexed-text {
  font-size: 13px;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
}
.last-indexed-time {
  font-size: 13px;
  font-style: italic;
  text-align: center;
  color: dimgray;
  margin-bottom: 2px;
  margin-top: 2px;
}
.index-icon {
  font-size: 25px;
  color: rgba(0, 79, 255, 0.51);
  padding-top: 1px;
}

i.fa {
  min-width: 13px;
}

.index-icon:hover {

}
.play-active:hover {
  color: rgb(0, 79, 255);
  text-shadow: 1px 0px rgba(169, 169, 169, 0.63);
}

.dashboard-active {
  color: rgba(0, 171, 255, 0.5);
  opacity: 0.7;
}

.dashboard-active:hover {
  color: #00abff;
  text-shadow: 1px 0px rgba(169, 169, 169, 0.63);
  opacity: 1.0;
}

.dashboard-not-active {
  opacity: 0.5;
  color: rgba(72, 76, 79, 0.6);
}

.play-not-active {
  color: rgba(72, 76, 79, 0.3);
}

.play-not-active:hover {
  color: rgba(72, 76, 79, 0.3) !important;
}
.not-active {
  opacity: 0.6;
}

.cell-button:hover {
  color: #484c4f;
}


.experiment-ongoing {
  color: green;
}
.star-selected{
  color: #ffd470 !important;
  font-size: 22px;
  padding-left: 1px;
  border-color: #dfb470 !important;;
  -webkit-text-stroke: 1px darkgray;
}

.star-selected:hover {
  color: #ffda7b !important;
}

.btn-circle {
  border-radius: 30px;
  color: rgba(0, 0, 0, 0.62);
  background: transparent;
  border-color: rgba(0, 0, 0, 0.42);
}

.btn-circle:hover {
  border-color: rgba(0, 171, 255, 0.54);
  color: white;
}

.reported {
  color: #00ABFF;
}

.not-reported {
  opacity: 0.4;
}

.reports-something {
  color: rgba(0, 171, 255, 0.65);
}

.panel {
  border-radius: 2px;
}

a.disabled {
  color: rgba(0, 0, 0, 0.2) !important;
  cursor: not-allowed;
  text-decoration: underline;
}
.dropdown-toggle::after {
  display: none !important;
}

.featureEnabled {
  font-size: 14px;
  color: #2D5C18
}


.featureDisabled {
  font-size: 14px;
  color: rgba(160, 0, 0, 0.39);
}

.dropdown-menu {
  .dropdown-item {
    text-shadow: 0px 0px transparent;
  }
}

.maxWidth {
  width: 100%;
}

.highlight {
  background: yellow;
}
.not-in-branch {
  td.align-left {
    opacity: 0.5;
  }
  td.align-right {
    opacity: 0.5;
  }
  .table-hover > tbody > tr:hover {
    background-color: rgba(245, 245, 245, 0.75);
    opacity: 1.0;

  }
  p.configTitle {
    opacity: 0.5;
  }
}

.no-data {
  opacity: 0.5;
  color: lightblue;
}

.hypothesis-data {
  opacity: 1.0;
  color: #e0db3a;
}

.measurements-data {
  opacity: 1.0;
  color: darkgreen;
}

.master-cell {
  opacity: 0.55;
}
