
<div [class.col-sm-12]="true" *ngIf="!isFilteredOut()">
        <div #cohortCell [class.col-sm6]="true">
            <div [class.panel]="shouldStyleCell()" [class.panel-warning]="shouldStyleCell()" [class.highlight-cell]="shouldHightlight()" [class.mx-group-background]="shouldStyleAsMTX()" style="margin-bottom: 2px; margin-top: 2px;">
                <div class="panel-body" [class.smallPadding]="shouldStyleCell()" [class.noPadding]="shouldNotStyleCell()" [class.noRightPadding]="isSubFeature()">
                    <ul class="list-group" style="margin: 0px; background-color: transparent">
                        <table class="table table-hover feature-cell" [style.background-color]="getBackgroundStyle()" [class.selected-feature]="isSelectedFeature()" [style.color]="getColorStyle()">
                            <tr *ngIf="isExperiment()">

                                <td style="width: 1%; vertical-align: middle;" (click)="cellClicked()" class="align-right" [style.color]="getNextColorStyle()">
<!--                                    <i *ngIf="showExpand()" [class.ion-arrow-right-b]="!isOpen" [class.ion-arrow-down-b]="isOpen"></i>-->
                                </td>
                                <td style="width: 5%; text-align: start;  vertical-align: middle;" class="align-left" align="left">
                                    <div class="starDiv">
                                        <i class="flask-icon fa fa-users" [class.not-active]="!isExperimentRunning()"></i>
                                    </div>
                                </td>
                                <td style="width: 28%; text-align: start;  vertical-align: middle;" (click)="cellClicked()" class="align-left descpCell" align="left">
                                    <div class="descpDiv" style="    max-width: 260px;display: inline-flex;    text-overflow: ellipsis;overflow: hidden;">
                                        <a (click)="openEditDialog($event)" class="cursor" [innerHTML]="highlighted" style="text-overflow: ellipsis;overflow: hidden;display: block;">

                                        </a>
                                        <ng-template #popTemplate>
                                            <div class="descpPopover">
                                                <div  class="no-margin "  *ngIf="(cohort?.description?.length > 0)">
                                                    <label for="input55" class="control-label">Description</label>
                                                    <p id="input55" [innerHTML]="cohort.description | replaceLineBreak"></p>
                                                </div>
                                            </div>

                                        </ng-template>

                                        <i *ngIf="(cohort?.description?.length > 0)" class="ion-ios-information-outline info-icon" [popover]="popTemplate" placement="right" triggers="mouseenter:mouseleave"></i>
                                    </div>
                                    <div class="subHeaderDiv" >
                                        {{getRunningMessage()}}
                                    </div>
                                </td>
                                <td style="width: 16%; text-align: start; vertical-align: middle;" (click)="cellClicked()" class="align-left capitalize" ><span class="">{{cohort?.updateFrequency | lowercase}}</span></td>
                                <td style="width: 12%; text-align: center;  vertical-align: middle;" class="align-left" align="left">
                                    <div class="starDiv">

<!--                                        <i *ngIf="shouldSuggestExport()" class="index-icon fa fa-sign-out" [tooltip]="getStartExportTooltip()" [class.play-not-active]="!canClickStartIndexing()" [class.play-active]="canClickStartIndexing()" [class.cursor]="canClickStartIndexing()" (click)="performExport()"></i>-->
                                        <loading-icon *ngIf="isExportRunning()" [tooltip]="getExportStatusTooltip()"></loading-icon>
                                        <pending-icon *ngIf="isExportPending()" [tooltip]="getExportStatusTooltip()"></pending-icon>
                                    </div>

                                </td>
                                <td style="width: 4%; text-align: start; vertical-align: middle;" (click)="cellClicked()" class="align-left capitalize" [class.prod]="isInProduction()" >
                                    <div class="starDiv">
                                        <ng-template #dashTemplate>
                                            <div class="dashPopver">
                                                <div class="row1">
                                                    <ng-template ngFor let-item [ngForOf]="getListedExported()" let-i="index">
                                                        <div class="dashFlexContainer">
                                                            <img class="tooltip-dashboard" src="{{ ( getDashboardIconForExport(getListedExported()[i].value) | baProfilePicture ) }}">
                                                            <span *ngIf="hasStatusData()" class="popover-stats">
                                                            <span  class="dash-title">{{item.key}}</span>
                                                                <p class="inside-pop-text">Users to update: {{item.value?.exportStatusDetails?.totalImports}}</p>
                                                                <p *ngIf="hasFailedUsers(item.value)" class="inside-pop-text">Failed: {{getFailedUsers(item.value)}}</p>
                                                                <p class="inside-pop-text">Successful: {{getSuccessfulUsers(item.value)}}</p>
                                                            </span>
                                                            <span class="popover-stats" *ngIf="!hasStatusData()">
                                                                <span class="dash-title">No available export data</span>
                                                            </span>

                                                        </div>
                                                        <p *ngIf="getStatuses() && getStatuses().length > 0" class="statuses-desc">Jobs</p>
                                                        <ng-template ngFor let-item [ngForOf]="getStatuses()" let-i="index">
                                                            <div class="third-party-desc">
                                                                <span *ngIf="item.activityId">Job Id: {{item.activityId}}<br></span>
                                                                <span *ngIf="item.totalImports">Total Imports: {{item.totalImports}}<br></span>
                                                                <span *ngIf="item.successfulImports">Successful Imports: {{item.successfulImports}}<br></span>
                                                                <span *ngIf="item.parsedImports">Parsed Imports: {{item.parsedImports}}<br></span>
                                                                <span *ngIf="item.failedImports">Failed imports: {{item.failedImports}}<br></span>
                                                                <span *ngIf="item.detailedMessage">Detailed Message: {{item.detailedMessage}}<br></span>
                                                                <span *ngIf="item.status">Status: {{item.status}}</span>
                                                            </div>

                                                        </ng-template>
                                                        <p *ngIf="item.value?.lastExportTime" class="last-indexed-text">Last export to {{item.key}}:</p>
                                                        <p class="last-indexed-time">{{item.value?.lastExportTime | date:'medium'}}</p>
                                                    </ng-template>

                                                </div>
                                                <p class="dash-link-message" [class.dash-link-no-permissions]="!isAnalyticsViewer()">Calculation:{{getStatusTooltip()}}</p>
                                                <p *ngIf="!isItOldCohortStyle() && getExportStatus()!=null" class="dash-link-message" [class.dash-link-no-permissions]="!isAnalyticsViewer()">Export:{{getExportStatus()}}</p>
                                                <p *ngIf="(shouldSuggestExport() && !canClickStartIndexing()) || (!shouldSuggestExport() && !hasDashboard())" class="no-dash-message">{{getTooltipForWhyUserCantDoAction()}}</p>
                                            </div>
                                        </ng-template>
                                        <i *ngIf="hasStatusData() || true" class="dashboard-icon fa" [popover]="dashTemplate" placement="top" triggers="mouseenter:mouseleave" [class.dashboard-not-active]="!hasStatusData()" [class.cursor]="isAnalyticsViewer() && hasDashboard()" [class.dashboard-active]="isAnalyticsViewer() && hasDashboard()" (click)="isAnalyticsViewer() && showDashboard()" [style.color]="getDashboardColor()">
                                            <img src="{{ ( getDashboardIcon() | baProfilePicture ) }}">
                                        </i>
                                    </div>
                                </td>
<!--                                <td style="width: 8%; text-align: start; vertical-align: middle;" (click)="cellClicked()" class="align-left" ><span class=""></span></td>-->

                                <td style="width: 16%; text-align: start; vertical-align: middle;" (click)="cellClicked()" class="align-left capitalize" ><span class="" [style.color]="getExportColor()">{{getSelectedExportKey()}}</span></td>

                                <td style="width:7%; min-width: 60px; vertical-align: middle; text-align: end;" class="-align-right">
                                    <div class="dropdown noExpand maxWidth" dropdown >
                                        <button [nbPopover]="templateRef" nbPopoverPlacement="bottom" dropdownToggle class="profile-toggle-link btn btn-icon btn-circle" id="user-profile-dd1" data-toggle="dropdown" aria-expanded="false" title="Actions">
                                            <i class="ion-settings"></i>
                                        </button>
                                        <ng-template #templateRef>
                                            <ul class="menu-items">
                                                <li class="dropdown-item"  *ngIf="true"><i class="dropdown-arr"></i></li>
                                                <li class="dropdown-item" *ngIf="!isShowOptions()"><a (click)="openEditDialog($event)"><i class="fa ion-compose"></i>Details</a></li>
                                                <li class="dropdown-item" *ngIf="isShowOptions()"><a (click)="openEditDialog($event)"><i class="fa ion-compose"></i>Edit</a></li>
                                                <li class="dropdown-item" *ngIf="isShowOptions()"><a (click)="shouldSuggestExport() && performExport()" [class.disabled]= "!shouldSuggestExport()"><i class="fa ion-help-buoy"></i>Export</a></li>
                                                <li class="dropdown-item" *ngIf="isShowOptions()" ><a (click)="delete()" class="signout destructive" [style.color]="getDeleteColor()" style="color: red;"><i class="fa ion-trash-b"></i>Delete</a></li>
                                            </ul>
                                        </ng-template>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </ul>
                </div>
            </div>
        </div>
    <!--</div>-->

</div>
