.control {
  background: transparent;
  transition: width 1s;
  color: whitesmoke;
  width: 5px;
}

.form-control {
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
}

/*
.control:hover{
  font-size: 20px;
}
*/