//@import '../../sass/preloader';
.progress-striped {
  height: 50%;
}
td {
  text-align: start;
}

ul {
  margin-bottom: 0px;
}

.list-group {
  margin-bottom: 0px;
}

.feature-cell {
  padding-bottom: 0px;
  table-layout: fixed;
  min-height: 30px;
}
.mx-group {
  border: 1px solid rgba(256, 256, 256, 0.5);
  padding-bottom: 2px;
  padding-top: 2px;
}
.table > tbody > tr > td {
  padding: 0px 8px;
  line-height: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.descpCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.descpDiv {
  margin-right: 8px;
}

progress {
  background-color: transparent;
  background: transparent;
}
.progress {
  background-color: #f5f5f5;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}
.progress-bar-striped, .progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

.progress {
  height: 20px;
  background: rgba(0, 0, 0, 0.15);
}
.progress-striped {
  background: rgba(0, 0, 0, 0.15);
}
div.progress {
  height: 20px;
}

.top-dropdown-menu.profile-dropdown {
  width: 250px;
  top: 45px;
  right: -20px;
  left: auto;
  z-index: 9999999;
}

.top-dropdown-menu.profile-dropdown i.dropdown-arr {
  right: 25px;
}
.children-wrapper {

}


/*for inside cells wrapping*/
ul {
  margin-bottom: 0px;

}
.panel {
  background-color: rgba(255,255,255,0.40);
}

.panel-body[_ngcontent-hoa-10] {
  padding: 8px;
}

.panel-warning {
  margin-bottom: 20px;
}

.table {
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;

}
.panel {
  background-color: rgba(255,255,255,0.40);
}

.panel-body[_ngcontent-hoa-10] {
  padding: 8px;
}

.panel-warning {
  margin-bottom: 20px;
}

//.feature-cell {
//  padding-bottom: 0px;
//  padding-top: 10px;
//  padding-left: 15px;
//  padding-right: 15px;
//  background-color: white;
//}

.list-group {
  background: white;
}

.col-sm-12 {
  //padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.noPadding {
  margin-left: 1px;
  //padding: 0px;
}
.smallPadding {
  //padding-left: 4px;
  //padding-right: 4px;
  //padding-top: 4px;
  //padding-bottom: 4px;
}

.cursor   {
  cursor: pointer;
}

.noRightPadding {
  padding-right: 1px;
  margin-left: 30px;
}
.topPadding {
  margin-top: 4px;
}
.miniPad {
  //padding-left: 1px;
}
.transition{
  -webkit-transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out ;
  -o-transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out;
  transition: opacity 500ms ease-in-out,margin-top 500ms ease-in-out;
  //margin-left: 1500px;
  //width: 200px;
  opacity: 0;
}

.transitionActive{
  opacity: 1.8;
  //margin-left: 0;
}

.table-hover > tbody > tr:hover {
  //background-color: #f5f5f5;
  opacity: 1.0;
}

.dropdown-item {
   padding: 0px;
}

.middle-align-element {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 5px;
}

.progress-text-align {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-width: 53px;
}
.buttonMargin {
  margin: 4px;
}



.mx-group-panel {
  color: white;
  text-shadow: 0.5px 0.5px #1C2B36;
  margin: 1px;
  font-size: small;
}

.reorder-button {
  float: right;
  padding-top: 0px;
  text-shadow: 0.5px 0.5px #1C2B36;
}

.capitalize {
  text-transform: capitalize;
}

.destructive {
  color: red;
}

.target-cell {
  border: 2px solid rgba(256,256,256,0.9);
}

.regular-cell {
  border: 2px solid rgba(256,256,256,0.5);
}

.father-cell {
  border: 2px solid yellow;
}

.marked-feature-cell {
  border: 2px solid #0275d8;
}
.myTable {
  width: 100%;
}

.transBack {
  background: transparent;
}

.somePad {
  padding-left: 8px;
  padding-right: 8px;
}

.arrow-hover {
  color: rgba(256,256,256,0.7);
  :hover {
    color: rgba(256,256,256,1);
  }
}