<ace-modal #paceModalContainerDialog
           (outputEventInputSchemaUpdate)="dynamicTextUpdated($event)">
</ace-modal>
<div class="answer-node">
    <div class="box">
        <i style="cursor: pointer"
           class="fa ion-trash-b remove-order-icon button-behavior"
           (click)="delete()"
           *ngIf="!isOnlyDisplayMode"></i>
        <div class="row">
            <div class="col-md-12">
                <div class="no-margin dashFlexContainer" *ngIf="currAnswer != null">
                    <label for="input05" class="control-label answer-label">Id:</label>
                    <input type="text" [disabled]="isOnlyDisplayMode" [class.mustType]="isInputWarningOn(currAnswer.answerId)" id="input05" placeholder=""
                           [(ngModel)]="currAnswer.answerId" class="form-control blackText" tabindex="1">
                </div>

                <div class="no-margin dashFlexContainer"
                     *ngIf="currAnswer != null">
                    <label for="input06" class="control-label answer-label">Text:</label>
                    <input type="text" [disabled]="isOnlyDisplayMode" id="input06" placeholder=""
                           [class.mustType]="isInputWarningOn(currAnswer.title)"
                           [(ngModel)]="currAnswer.title" class="form-control blackText"
                           tabindex="1">
                </div>

                <div class="no-margin dashFlexContainer"
                     *ngIf="currAnswer != null">
                    <input type="checkbox" id="checkboxname" class="form-checkbox blackText check-all"
                           [(ngModel)]="useDynamicText" name="checkboxname">
                    <label for="input16" class="control-label answer-label">Dynamic Text:</label>
                    <button id="input16" style="margin-right: 0; margin-left: 0" type="button" class="btn btn-primary" (click)="generateDynamic()" *ngIf="!isOnlyDisplayMode && useDynamicText">
                        <i class="ion-language-outline"></i>
                        Generate translation
                    </button>
                </div>
                <div *ngIf="useDynamicText" class="no-margin">
                    <!--<airlock-tooltip class="endFlexContainer small-right-padding" style="padding-right: 1px" [content]="getString('edit_feature_output_config')" [title]="getString('edit_feature_output_config_title')"></airlock-tooltip>-->
                    <button class="btn btn-expand btn-icon" type="button"
                            (click)="openAceEditorExpand(index)"
                            style="margin-top: 5px; margin-right: 24px">
                        <i class="ion-arrow-expand" style="height: 12px;width: 12px;"></i>
                    </button>
                    <div *ngIf="!loading" #mytesteditor5 ace-editor
                         (onTextChanged)="dynamicTextUpdated($event)"
                         [markdown]="currAnswer.dynamicTitle"
                         [readonly]="isOnlyDisplayMode" [sample]="ruleInputSchemaSample"
                         [heightSize]="aceEditorConfigurationHeight"
                         [mode]="'javascript'"
                         [utilitiesinfo]="ruleUtilitiesInfo">
                    </div>
                </div>

                <div class="no-margin dashFlexContainer"
                     *ngIf="currAnswer != null">
                    <label class="control-label answer-label">Go to:</label>
                    <nb-select *ngIf="!loading" class="select-goto"
                               [(selected)]="currAnswer.onAnswerGoto">
                        <nb-option hero *ngFor="let option of gotoOptions" value="{{option.id}}"> {{option.name}} </nb-option>
                    </nb-select>
                </div>


            </div>
        </div>
    </div>

</div>

