.littleMargin {
  margin-bottom: 4px;
}

.popover-content {
  color: black !important;
}

p.poll-id {
  color: black;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
p.poll-title {
  color: black;
  font-size: large;
  text-align: center;
}

p.poll-subtitle {
  color: black;
  text-align: center;
  font-weight: lighter;
}

.question-div {
  color: black;
}
p.question-id {
  color: black;
}

p.question-text {
  color: black;
}

p.question-answer {
  color: black;
}
.dashFlexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: end;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0.5rem;
}
.answer-node {
  border: 1px solid #a7d0e5;
  padding-top: 8px;
  margin-bottom: 20px;
}
.button-behavior:hover {
  color: #93a0ab;
}

.remove-order-icon {
  float: right;
  font-size: 26px;
  padding-right: 8px;
}

.select-goto {
  min-width: 158px;
}

.form-checkbox {
  margin-right: 8px;
  height: 35px;
}

.answer-label {
  padding-right: 4px;
  min-width: 110px;
}
.btn {
  float: right;
}
.btn.btn-default {
  color: white;
}
