<div class="">
    <button type="button" class="btn btn-primary" (click)="addGroupItem()" *ngIf="!isViewer">
        <i class="ion-plus"></i>
        Add Group
    </button>
    <div class="task-todo-container">
        <div id="tloader" [hidden]="!loading">
            <div></div>
        </div>
        <div>
            <input maxlength="25" type="text" value="" style="background: rgba(0,0,0,0.1);width: 60%"
                   class="form-control task-todo input-box" placeholder="Filter groups...."
                   [(ngModel)]="searchQuery" (ngModelChange)="filterGroups()">
        </div>
        <div class="box-shadow-border"></div>
        <div>
        <ul class="products limit-height">
            <li *ngFor="let item of itemsList" [ngClass]="{checked: item.hasFeatures}"
                (click)="cellClicked(item)"
                [class.selected]="selectedGroup==item">
                <span class="badge">*</span>
                <label class="custom-input-success" style="padding-top: 8px;padding-left: 8px">
                    <span class="cut-with-dots">{{ item.name }}</span>
                </label>
                <i *ngIf="!isViewer" class="remove-todo ion-trash-a" (click)="deleteGroup($event,item)"></i>
            </li>
        </ul>
        </div>
    </div>
</div>
