
<div class="row">
    <div class="col-md-5" >
        <strings-list   [parentSubject]="parentSubject" [supportedLocales]="supportedLocales" [selectedSeason]="selectedSeason"   [_strings]="selectedStrings" (onStringsSelectionChanged)="stringSelectionChanged($event)" (reloadTranslations)="reloadParentTranslations($event)"></strings-list>
    </div>
    <div class="col-md-7">
        <string-detail  [parentSubject]="parentSubject" [supportedLocales]="supportedLocales" [_selectedString]="selectedStringToTranslate" [selectedSeason]="selectedSeason"  (reloadTranslations)="reloadParentTranslations($event)" ></string-detail>
    </div>
</div>
