.importStringsModal .has-success .control-label {
  color: white;
  margin-left: 15px;

}
.importStringsModal .control-label-parent {
  color: white;
  margin-left: 15px;

}
.importStringsModal .box{
  box-sizing:border-box;

}
.importStringsModal .has-success .control-label {
  color: #ffffff;
}
.importStringsModal .blackText{
  //color: white !important;
  //border: 1px solid #00abff !important;
  //  background-color: white;
}
.importStringsModal .nav-tabs{
  /*background-color: #a9aaab !important;*/
  background-color: #337ab7 !important;
}
.importStringsModal .tab-content {
  //background: rgba(255,255,255,0.1);
  //color: rgba(255,255,255,0.1);
}
.importStringsModal .nav-tabs .nav-item {
  float: left;
  margin-bottom: 0px;
  margin-top: 1px;
  margin-right: 0px;
  margin-left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.importStringsModal .nav.nav-tabs > li > a:hover {
  border: none;
  /*background-color: #dcdcdc;*/
  background-color: #e2e2e2;
  color: #484c4f;
}
.importStringsModal .nav.nav-tabs > li.active > a{
  color: #55595c;
  background-color: #fff;
}
.importStringsModal .modal-backdrop{
  background-color: #eee;
}
.importStringsModal .tab-div-container{
  height: 320px;
  max-height: 320px;
  overflow-y: scroll;
}
.importStringsModal .modal-content{
  background: currentColor;//url("assets/img/sky-bg.jpg");
}

.importStringsModal .select2-container--default .select2-selection--multiple {
  background-color: currentColor !important;
  color: currentColor !important;;
}
.importStringsModal .select2-selection__choice{
  color: white;
  background-color: #337ab7 !important;
}

.importStringsModal .select2{
  display:block !important;
  width:400px !important;
}
.importStringsModal .modal-title{
  color:white !important;
  //overflow: hidden;
  //text-overflow: ellipsis;
}
.importStringsModal .col-sm-10{
  overflow: auto;
  height: 300px;
}
.importStringsModal .preview .col-sm-10{
  overflow: auto;
  height: 400px;
}
.importStringsModal .preview .tree-container{
  height: 450px  !important;
}

.importStringsModal .box.row {
  margin-left: 0em;
  margin-right: 0em;
}

.importStringsModal .notSelected {
  opacity: 0.5;
}

.importStringsModal .btn-group {
  width: 100%;
}

.importStringsModal .half-button {
  width: 50%;
}

.importStringsModal .small-right-padding {
  padding-right: 1px;
}
.importStringsModal .no-padding-left {
  padding-left: 0px;
  padding-right: 4px;
}

.importStringsModal .no-padding-right {
  padding-left: 4px;
  padding-right: 0px;
}

.importStringsModal .no-padding-middle {
  padding-left: 4px;
  padding-right: 4px;
}

.importStringsModal .description-text {
  height: 125px;
}

.importStringsModal .nav-tabs .nav-item {
  text-align: center;
  width: 49.6%;
}

.importStringsModal .config-state .nav-tabs .nav-item {
  width: 33.2%;
}

.importStringsModal .flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  //-webkit-justify-content: flex-start;
  //justify-content: flex-start;
}

.importStringsModal .flexRightcontainer {
  padding-top: 4px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.importStringsModal .spreadFlexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.importStringsModal .modalLink {
  color: lightblue;

}
.importStringsModal .modalLink:hover {
  color: #00abff;
  cursor: pointer;

}

.importStringsModal .accordionHead {
  color: white;
}

.importStringsModal .openIndicator {
  min-width: 12px;
}

.importStringsModal .semi-transparent {
  opacity: 0.6;
}

.importStringsModal .padTop {
  padding-top: 4px;
}

.importStringsModal .btn-expand {
  font-size: 1.3rem;
  margin: 10px;
  margin-top: 0px;
  /* margin-right: 0; */
  float: right;
  border-width: 1px;
  color: #484c4f;
  background: #e2e2e2;
  border-color: #f5f5f5;
  padding: 0.1rem 1rem;
  position: absolute;
  right: 0;
  z-index: 100;
  margin-right: 16px;
  opacity: 0.4;
}

.importStringsModal .btn-expand:hover {
  opacity: 1.0;
}
.importStringsModal .btn-expand-down {
  margin-top: 30px;
}
.importStringsModal .select2-selection__rendered
{
  height: 35px;
  overflow: auto !important;
}

.importStringsModal  .sn-content{
  white-space: pre;
  overflow: auto;
}
.importStringsModal .tree-container {
  overflow: hidden !important;
}
.importStringsModal  .simple-notification{
  width: 400px;
}
.importStringsModal  .mustType{
  border-color: red !important;
}

.dropdown-menu{
  margin: 2rem 0 0;
}

.btn:hover {
  transform: none !important;
  background-color: #009ff3 !important;

}

.modalLink {
  color: lightblue;

}
.modalLink:hover {
  color: #00abff;
  cursor: pointer;

}

.modalLinkButton {
  background: transparent;
  border: 0px solid transparent;
  padding-left: 0px;
  padding-right: 0px;
  transition: all 0.2s ease-in-out;
}

