<div id="tloader2" [hidden]="!isPaste || !loading">
    <div></div>
</div>
<modal #importStringsModal id="importStringsModal" class="importStringsModal"  [backdrop]="'static'" data-keyboard="false" data-backdrop="static" [hidden]=shouldHideModal>
    <show-message-modal #showMessageModal></show-message-modal>
    <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>
    <div id="tloader" [hidden]="isPaste || !loading">
        <div></div>
    </div>
        <!--<modal-header [show-close]="false" *ngIf = "season != null" >-->
    <modal-header [show-close]="false" >
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span >
                     {{title}}
                </span>

            </h4>

        </modal-header>
        <modal-body style="max-height: 495px;overflow:auto">
            <accordion>
                <accordion-group *ngIf = "!isPaste" #group [isOpen]="referenceOpen">
                    <div accordion-heading class="accordionHead">
                                    <span class="modal-title">
                                        <span class="openIndicator">
                                        <i  [class.ion-arrow-right-b]="!group.isOpen" [class.ion-arrow-down-b]="group.isOpen"></i>
                                        </span>
                                        {{getString('import_feature_details_accordion_title')}}
                                    </span>
                    </div>
                    <div >
                        <div class="box">
                            <div class="row">
                                <div class="col-md-12" >

                                    <div class="row" style="display: table;width: 100%;">
                                        <div class="col-md-12 no-padding-left"  style="display: table-row;width: 100%;">
                                            <div  class="form-group"   *ngIf = "!isPaste && showImportFile" style="width: 100%; display: table-cell;">
                                                <div  style="margin-bottom: 10px;width: 100%;">
                                                    <label for="input01" class="control-label" style="font-size: 15px">Select a file to import and the file format (Android, iOS, or JSON). </label>
                                                    <span><button class="modalLink modalLinkButton" (click)="showRuleHelp()">{{getString('analytics_summary_context_learn_more')}}</button></span>
                                                    <br><br>
                                                    <airlock-tooltip class="endFlexContainer" [content]="getString('edit_feature_name')" [title]="getString('edit_feature_name_title')"></airlock-tooltip>

                                                    <div class="row">
                                                        <div class="col-md-6" *ngIf = "isFileChooserJSONFormat()" style="padding-left: 0px">
                                                            <input type='file' accept='.json' (change)='openFile($event)'  [disabled]="isOpenFileDisabled()" style="width: 100%;height: 30px;border: 1px solid rgba(255, 255, 255, 0.6) !important;background: rgba(255, 255, 255, 0.1);">
                                                        </div>
                                                        <div class="col-md-6" *ngIf = "!isFileChooserJSONFormat()" style="padding-left: 0px">
                                                            <input type='file' accept='.zip' (click)='clickOpenFile($event)' (change)='openFile($event)'  [disabled]="isOpenFileDisabled()" style="width: 100%;height: 30px;border: 1px solid rgba(255, 255, 255, 0.6) !important;background: rgba(255, 255, 255, 0.1);">
                                                        </div>
                                                        <div class="" [ngClass]="{'col-md-2': isIosOrAndroidFormat(), 'col-md-6': !isIosOrAndroidFormat()}">
                                                            <div dropdown style="vertical-align:baseline">
                                                                <button type="button" class="btn btn-primary" dropdownToggle  style="float: left;">
                                                                    {{buttonText}}
                                                                </button>

                                                                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                                                    <template ngFor let-item [ngForOf]="platforms" [ngForTrackBy]="itemTrackBy" let-i="index" >
                                                                        <li class="dropdown-item" (click)="selectItem(i)" style="cursor: pointer">{{item}}</li>
                                                                    </template>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" style="padding-right: 0" *ngIf="isIosOrAndroidFormat()">
                                                            <input type="checkbox" [(ngModel)]="preserveFormat">
                                                            <span class="control-label">{{getString('import_strings_format_label')}}</span>
                                                            <airlock-tooltip class="endFlexContainer" [content]="getString('import_strings_format')" [title]="getString('import_strings_format_title')"></airlock-tooltip>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div  class="form-group" style="padding-left: 18px;width: 400px; vertical-align: top;">
                                <label for="input07" class="control-label" style="font-size: 14px">{{getString('import_required_help')}} </label>
                            </div>
                            -->
                        </div>
                    </div>
                </accordion-group>
                <accordion-group #previewGroup [isDisabled]="!canShowPreview"  [isOpen]="previewOpen">
                    <div accordion-heading class="accordionHead">
                                    <span class="modal-title">
                                        <span class="openIndicator">
                                        <i  [class.ion-arrow-right-b]="!previewGroup.isOpen" [class.ion-arrow-down-b]="previewGroup.isOpen"></i>
                                        </span>
                                        Conflicting strings
                                    </span>
                    </div>
                    <div  class="form-group tab-div-container preview" *ngIf="canShowPreview">
                        <div  class="form-group"  style="padding-left: 18px;vertical-align: top;">
                            <div class="form-group" *ngIf="hasConflict" style="display: table-row">
                                <label for="input07" class="control-label" style="font-size: 14px; padding-left:10px"> {{leadingText}}</label>
                            </div>

                            <div class="form-group">
                                <label style="white-space: pre; padding-left: 10px" >{{ conflictText}}</label>
                            </div>
                            <div class="form-group">
                                <label style="white-space: pre; padding-left: 10px" >{{ addingText}}</label>
                            </div>

                        </div>

                    </div>
                </accordion-group>
            </accordion>





        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="save(false)" [disabled] = "!canSave">{{saveText}}</button>
            <button style="margin-right: 7px;" type="button" class="btn btn-primary" (click)="save(true)" [hidden]= "!hasConflict" [disabled] = "!canSave">{{saveTextOverwrite}}</button>
        </modal-footer>
    </modal>
