

.selectLocaleForRuntimeModal .modal-content{
  background: currentColor !important;//url("assets/img/sky-bg.jpg");
}

.docLink {
  color: rgba(256,256,256,0.85);
  text-decoration: none !important;
  transition: color 0.2s ease;
}

a.docLink:hover {
  color: white;
}