<!--<verify-action-modal  #verifyActionModal ></verify-action-modal>-->
<div id="tloader" [hidden]="!loading">
    <div></div>
</div>
<div [class.col-sm-12]="true" *ngIf="!isFilteredOut()">
    <div #answerCell [class.col-sm6]="true">
        <div [class.not-in-branch]="!partOfBranch()" [class.panel]="shouldStyleCell()" [class.panel-warning]="shouldStyleCell()" [class.highlight-cell]="shouldHightlight()" [class.main-mx-group-background]="question?.type=='CONFIG_MUTUAL_EXCLUSION_GROUP' && isMainConfigCell()" [class.mx-group-background]="false" style="margin-bottom: 2px; margin-top: 2px;">
            <div class="panel-body" [class.smallPadding]="shouldStyleCell()" [class.noPadding]="shouldNotStyleCell()" [class.noRightPadding]="isSubFeature()">
                <ul class="list-group" style="margin: 0px; background-color: transparent">

                    <table class="table table-hover feature-cell" [style.background-color]="getBackgroundStyle()" [class.selected-feature]="isSelectedFeature()" [style.color]="getColorStyle()">
                        <tr>
                            <td style="width: 3%; vertical-align: middle;" (click)="cellClicked()" class="align-right" [style.color]="getNextColorStyle()">

                            </td>
                            <td style="width: 3%; text-align: start;  vertical-align: middle;" class="align-left" align="left">
                                <div class="">
                                    <i *ngIf="!isDefalut()" class="reported-to-analytics-icon far fa-circle" [style.color]="getVariantColor()"></i>
                                    <i *ngIf="isDefalut()" class="reported-to-analytics-icon far fa-circle" [style.color]="getVariantColor()"></i>
                                </div>
                            </td>
                            <td style="width: 11%; text-align: start;  vertical-align: middle;" (click)="cellClicked()" class="align-left descpCell" align="left">
                                <div class="descpDiv" style="display: inline-flex;    text-overflow: ellipsis;overflow: hidden;" >
                                    <a (click)="openEditDialog($event)" class="cursor" [innerHTML]="highlighted">
                                    </a>
                                </div>
                            </td>
                            <td style="width: 27%; text-align: start;  vertical-align: middle;" (click)="cellClicked()" class="align-left descpCell" align="left">
                                <div class="descpDiv" style="display: inline-flex;    text-overflow: ellipsis;overflow: hidden; width: 100%;" >
                                    <div class="subHeaderDiv" style="text-overflow: ellipsis;overflow: hidden;">
                                        {{getSubtitleMessage()}}
                                    </div>
                                </div>
                            </td>
                            <td style="width: 30%; text-align: center; vertical-align: middle;" (click)="cellClicked()" class="align-left capitalize" [class.prod]="isInProduction()" >
                                <div *ngIf="getNominal()!=null" style="vertical-align: middle; height: 20px;opacity: 0.6;max-width: 200px;">
                                    <progressbar class="progress progress-striped results-progress" value="{{getPercentage()}}" max="100" type="primary">
                                        <div class="progress-text-align">
                                            <span>{{getNominal()}} users ({{getPercentage() | number : '1.2-2'}}%)</span>
                                        </div>
                                    </progressbar>
                                </div>
                                <div *ngIf="getNominal()==null && variantIndex == 0" class="subHeaderDiv no-results">
                                    No results for this poll yet
                                </div>
                            </td>
                            <td style="width: 0%; text-align: start; vertical-align: middle;" (click)="cellClicked()" class="align-left" >
                                <!--<span class="">{{variant.minAppVersion}}</span>-->
                            </td>
                            <td *ngIf="!inlineMode" style="width: 8%; min-width: 70px; text-align: center; vertical-align: middle;" (click)="cellClicked()" class="align-left" >
                                <div style="vertical-align: middle; height: 20px;">

                                </div>
                            </td>
                            <td *ngIf="!inlineMode" style="width: 11%; vertical-align: middle;" (click)="doNothing()" class="align-right">
                                <div style="vertical-align: middle;text-align: center;padding-left: 10px;" class="middle-align-element1">
                                    <i aria-hidden="true" class="ion-checkmark-round featureEnabled" *ngIf="answer.enabled"></i>
                                    <i aria-hidden="true" class="ion-close-round featureDisabled" *ngIf="!answer.enabled"></i>
                                </div>
                            </td>
                            <td *ngIf="inlineMode" style="width: 8%; vertical-align: middle;" (click)="doNothing()" class="align-right">
                                <div style="vertical-align: middle;text-align: center;padding-left: 10px;" class="middle-align-element1">
                                    <i aria-hidden="true" class="ion-checkmark-round featureEnabled" *ngIf="answer.enabled"></i>
                                    <i aria-hidden="true" class="ion-close-round featureDisabled" *ngIf="!answer.enabled"></i>
                                </div>
                            </td>

                            <td style="width:7%; min-width: 60px; vertical-align: middle; text-align: end;" class="-align-right" (click)="doNothing()">
                                <div class="dropdown noExpand maxWidth" dropdown>
                                    <button [nbPopover]="templateRef" nbPopoverPlacement="bottom" dropdownToggle class="profile-toggle-link btn btn-icon btn-circle" id="user-profile-dd33" data-toggle="dropdown" aria-expanded="false" (click)="status.isopen = !status.isopen" title="Actions">
                                        <i class="ion-settings"></i>
                                    </button>
                                    <ng-template #templateRef>
                                        <ul class="menu-items">
                                        <li class="dropdown-item" *ngIf="!isShowOptions()"><a (click)="openEditDialog($event)"><i class="fa ion-compose"></i>Details</a></li>
                                        <li class="dropdown-item" *ngIf="isShowOptions()"><a (click)="openEditDialog($event)"><i class="fa ion-compose"></i>Edit</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item" *ngIf="isShowOptions()" ><a (click)="delete()" class="signout destructive" [style.color]="getDeleteColor()" style="color: red;"><i class="fa ion-trash-b"></i>Delete</a></li>
                                    </ul>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>

                    </table>
                </ul>
            </div>
        </div>
    </div>

</div>
