
<div  #noderef class="miniPad"  [class.col-sm-12]="true" *ngIf="feature?.type=='ROOT' || isFeature() || getChildren()?.length > 0">

    <div [class.col-sm6]="true">
        <div [class.panel]="shouldStyleCell()" class="transBack" [class.panel-warning]="shouldStyleCell()" style="margin-bottom: 2px; margin-top: 2px;"
        >
            <div class="panel-body" [class.smallPadding]="shouldStyleCell()" [class.noPadding]="shouldNotPad()" [class.noRightPadding]="isSubFeature()">
                <ul class="list-group" style="margin: 0px; background-color: transparent">
                    <table class="myTable table-hover feature-cell" [style.background-color]="getBackgroundStyle()" [style.color]="getColorStyle()"
                            [class.target-cell]="isTargetFeature()"
                            [class.father-cell]="isCurrentFather()"
                            [class.marked-feature-cell]="isMarkedFeature()"
                            [class.regular-cell]="!isTargetFeature() && !isCurrentFather()"
                           [class.panel]="!isTargetFeature() && !isCurrentFather()">
                        <tr *ngIf="isMTX()">
                            <td style="width: 3%; vertical-align: middle;" (click)="cellClicked()" class="align-right somePad" [style.color]="getNextColorStyle()">
                                <i *ngIf="getChildren()?.length > 0" [class.ion-arrow-right-b]="!isOpen" [class.ion-arrow-down-b]="isOpen" class="arrow-hover"></i>
                            </td>
                            <td style="width: 97%; text-align: start;  vertical-align: middle;" (click)="cellSelected()" class="align-left" align="left"><a (click)="selectFeature()" class="cursor" [style.color]="getTextColor()">Mutual Exclusion Group</a></td>
                        </tr>
                        <tr *ngIf="isFeature()">

                            <td style="width: 3%; vertical-align: middle;" (click)="cellClicked()" class="align-right somePad" [style.color]="getNextColorStyle()">
                                <i *ngIf="getChildren()?.length > 0 && !isTargetFeature()" [class.ion-arrow-right-b]="!isOpen" [class.ion-arrow-down-b]="isOpen" class="arrow-hover"></i>
                            </td>
                            <td style="width: 97%; text-align: start;  vertical-align: middle; overflow: hidden;text-overflow: ellipsis;" (click)="cellSelected()" class="align-left" align="left"><a (click)="selectFeature()" class="cursor" [style.color]="getTextColor()">{{_featureUtils.getFeatureDisplayName(feature)}}</a></td>
                        </tr>
                        <tr *ngIf="feature?.type=='ROOT'">

                            <td style="width: 3%; vertical-align: middle;" (click)="cellClicked()" class="align-right somePad" [style.color]="getNextColorStyle()">
                                <i *ngIf="getChildren()?.length > 0" [class.ion-arrow-right-b]="!isOpen" [class.ion-arrow-down-b]="isOpen" class="arrow-hover"></i>
                            </td>
                            <td style="width: 97%; text-align: start;  vertical-align: middle;" (click)="cellSelected()" class="align-left" align="left"><a (click)="selectFeature()" class="cursor" [style.color]="getTextColor()">Root</a></td>
                        </tr>

                    </table>
                    <span *ngIf="!isTargetFeature() && showSubTree()" class="transition" [ngClass]="{'transitionActive':isOpen}" (transitionend)="transitionEnd()" [hidden]="remove">
                            <hirarchy-node style="margin-bottom: 0px" *ngFor="let subFeature of getChildren(); let idx = index" class=""
                                           [feature]="subFeature" [level]="(level+1)" [insideMX]="false"
                                           (onCellClick)="myFeatureChangedStatus($event)"
                                           (onCellSelected)="myCellSelected($event)"
                                           [shouldOpenCell]="isCellOpen(subFeature.uniqueId)"
                                           [openFeatures]="openFeatures"
                                           [parentFeatureId]="feature.uniqueId"
                                           [contextFeatureId]="feature.uniqueId"
                                           [featurePath]="featurePath"
                                           [targetFeature]="targetFeature"
                                           [currentFather]="currentFather"
                                           [markedFeatureId]="markedFeatureId"
                                           [featureType]="featureType"
                                           [mtxType]="mtxType"
                            ></hirarchy-node>
                    </span>
                </ul>
            </div>
        </div>
    </div>
    <!--</div>-->

</div>
