


    <modal #myModal  class="stringIssueModal"  [backdrop]="'static'">
        <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>
        <div id="tloader" [hidden]="!loading">
            <div></div>
        </div>
        <modal-header [show-close]="true">
            <div class="modal-title">
                <span>
                    {{key}} ({{locale}})
                </span>
            </div>
            <span class="whiteText" *ngIf="this.issues != null">Issues:</span>
            <div class="flexcontainer">
            <div class="issueList whiteText" *ngIf="this.issues != null">
                <div style="display: table-cell;">
                    <div class="btn-group" dropdown style="vertical-align:baseline">
                        <button type="button" class="btn btn-default" dropdownToggle>
                            {{createdDate | date : "EEEE, MMMM d, y h:mm:ss a"}}
                        </button>
                        <ul class="dropdown-menu-wide" dropdownMenu>
                            <template ngFor let-issue [ngForOf]="issues.issues.reverse()" [ngForTrackBy]="itemTrackBy" let-ind="index">
                                <li class="dropdown-item truncate" (click)="changeIssue(ind)">
                                    <i aria-hidden="true" class="ion-checkmark-round" [ngClass]="{'hideIcon':ind != currentIssueIndexReversed}"></i>
                                    {{issue.createdDate | date : "EEEE, MMMM d, y h:mm:ss a" }}
                                </li>
                            </template>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="createIssue noExpand">
                <button type="button" class="btn btn-primary createIssueButton" (click)="this.createIssue()"><i class="ion-plus"></i> New Issue</button>
            </div>
            </div>
        </modal-header>
        <create-issue-modal #createIssueModal (newIssueAdded)="newIssueAdded($event)"></create-issue-modal>
        <modal-body>
            <div *ngIf="this.issues == null" class="whiteText">
                No issues
            </div>
            <div class="box IssueBody limit-height issueData">
                <div *ngIf="currentIssueId != null">
                    <div class="issueMetadata">
                        State: <span class="issueState">{{stringsMap[issueStateCode]}}</span><br>
                        Text: {{issueText}}<br>
                        Type: {{stringsMap[issueSubTypeCode]}}<br>
                        Creation Date: {{ createdDate | date : "EEEE, MMMM d, y h:mm:ss a" }}<br>
                    </div>
                     <div  class="form-group">
                         <label for="newCommentInput" class="control-label">Add Comment:</label>
                         <div class="input-group">
                             <input type="text" id="newCommentInput" [(ngModel)]="newComment"  class="form-control whiteText" tabindex="2" (keydown.enter)="this.addNewComment()">
                             <span class="input-group-btn">
                                <button type="button" class="btn btn-primary noExpand" (click)="this.addNewComment()">Add</button>
                            </span>
                         </div>
                     </div>
                    <span *ngIf="comments == null || comments.length == 0">
                        No comments
                    </span>
                        <span *ngIf="comments != null && comments.length > 0">
                            Comments:
                       <ul>
                            <li *ngFor="let comment of comments; let i = index">
                                {{comment.commentText}} <br>
                                <span class="commentDate">
                                    {{comment.createdDate | date : "EEEE, MMMM d, y h:mm:ss a"}}
                                </span>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <button *ngIf="currentIssueId != null" type="button" class="btn btn-primary stateButton" (click)="changeState(issueStateCode == 'OPENED')">
                <span *ngIf="issueStateCode == 'OPENED'">Resolve Issue</span>
                <span *ngIf="issueStateCode == 'RESOLVED'">Reopen Issue</span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
        </modal-footer>
    </modal>
