@import '../../sass/conf/conf';
.help-link {
  //display: block;
  height: 42px;
  padding-left: 18px;
  text-shadow: none;
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
}

.help-link:hover {
  cursor: pointer;
  color: #00abff;
}
.help-text {
  padding: 16px;
}

.help-text:hover {
  color: #00abff;
  cursor: pointer;
}

.ba-collapse:hover {
  color: #00abff;
  cursor: pointer;
}
