<div class="pad"></div>
<div class="headerCard">
    <div bacardblur="" zoom-in="" class="animated fadeIn card smallMargin ">
        <div class="card-body">
<div #headertable class="row">


    <div class="no-padding-left" [class.col-md-8]="!showTranslationFilters" [class.col-md-4]="showTranslationFilters">
        <input *ngIf="showTranslationFilters" class="form-control smallPad feature-filter free-text-filter" [(ngModel)]="filterQuery" placeholder="Filter by String..." (ngModelChange)="filterStrings()" type="text">
        <div *ngIf="showSearch" class="rightFlexContainer" [ngClass]="{'fixed-value airlock-search': isOverScrolled()}">
            <span class="middle-align-element">
                <i class="ion-ios-search-strong searchIcon"></i>
            </span>
            <input class="form-control smallPad" placeholder="Search for..." type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterFeatures()" (keyup.enter)="getNextResult()">

            <span class="search-count">{{getNumResults(numSearchResults)}}</span>
            <i aria-hidden="true" class="ion-chevron-down search-down-button clearSearchIcon" *ngIf="numSearchResults > 0 && simpleSearch == false"
               (click)="getNextResult()"></i>
            <i aria-hidden="true" class="ion-chevron-up search-up-button clearSearchIcon" *ngIf="numSearchResults > 0 && simpleSearch == false"
               (click)="getPreviousResult()"></i>
            <i aria-hidden="true" class="ion-close-circled clearSearchIcon search-clear" [class.search-clear-simple]="simpleSearch" *ngIf="searchQuery?.length > 0"
               (click)="clearSearch()"></i>
        </div>

    </div>
    <div class="" [class.col-md-4]="!showTranslationFilters" [class.col-md-8]="showTranslationFilters">

        <div class="btn-group configCheckBox noMarginBottom flexcontainer full-width" *ngIf="showDisplayOptions">
            <div style="display: table-cell;" class="right-margin">

                <dropdown-multiselect *ngIf="!showAddAuthUser"(ngModelChange)="displayConfigChanged($event)"
                                         [(ngModel)]="mFilters"  [dropdownConfig]="filterSettings"></dropdown-multiselect>
                <button *ngIf="showAddAuthUser" style="margin-right: 0px;" type="button" class="btn btn-primary" (click)="addUserClicked($event)">
                    <i class="ion-plus"></i>
                    Add User
                </button>
            </div>

        </div>

        <div class="btn-group configCheckBox noMarginBottom flexcontainer full-width" *ngIf="showModeSelector">
            <span class="locales-filter">
                <ss-multiselect-dropdown [options]="localeOptions" [(ngModel)]="optionsModel" [settings]="mySettings"
                                         [texts]="myTexts"
                                         (ngModelChange)="onLocalesChange($event)"></ss-multiselect-dropdown >
            </span>




            <ng-select [allowClear]="true" *ngIf="showTranslationFilters" class="feature-filter"
                       [items]="featuresList"
                       (selected)="selected($event)"
                       (removed)="removed($event)"
                       placeholder="Filter by Feature...">
            </ng-select>
            <div>{{itemsToString(value)}}</div>

            <div class="btn-group layout-select">
                <label class="btn btn-primary" (click)="setLayout('table')" [class.layout-selected]="currentLayout=='table'" [class.layout-not-selected]="currentLayout=='master-detail'" btnCheckbox>Table</label>
                <label class="btn btn-primary" (click)="setLayout('master-detail')" [class.layout-selected]="currentLayout=='master-detail'" [class.layout-not-selected]="currentLayout=='table'" btnCheckbox>List</label>
            </div>


        </div>
    </div>
</div>

<div [ngClass]="{'header-placeholder': isOverScrolled()}"></div>
            </div>
        </div>
</div>

<table class="table table-hover tableWrap header-table" [ngClass]="{'fixed-value airlock-header': isOverScrolled()}" [style.width]="getTableWidth()"  *ngIf="showTableHeader">
    <thead>
        <tr class="black-muted-bg" *ngIf="!showExperimentsHeader && !showStreamsHeader && !(hideColumns && !(showSearch && isOverScrolled()))">
            <th *ngIf="showAnalytics" style="width: 3%"></th>
            <th style="width: 51%; text-align: start;  vertical-align: middle;" class="align-left" align="left">
                <div class="row">
                    <div class="col-12">
                        <div *ngIf="showSearch && isOverScrolled()" class="rightFlexContainer">
                            <span class="middle-align-element">
                                <i class="ion-ios-search-strong searchIcon"></i>
                            </span>
                            <input class="form-control smallPad" placeholder="Search for..." type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterFeatures()" (keyup.enter)="getNextResult()">
                            <span class="search-count-header">{{getNumResults(numSearchResults)}}</span>
                            <i aria-hidden="true" class="ion-chevron-down search-down-button-header clearSearchIcon" *ngIf="numSearchResults > 0 && simpleSearch == false"
                               (click)="getNextResult()"></i>
                            <i aria-hidden="true" class="ion-chevron-up search-up-button-header clearSearchIcon" *ngIf="numSearchResults > 0 && simpleSearch == false"
                               (click)="getPreviousResult()"></i>
                            <i aria-hidden="true" class="ion-close-circled clearSearchIcon search-clear-header" *ngIf="searchQuery?.length > 0"
                               (click)="clearSearch()"></i>
                        </div>
                    </div>
                </div>

            </th>
            <th *ngIf="!hideColumns" style="width: 11%; text-align: start; vertical-align: middle;" class="align-left">Stage</th>
            <th *ngIf="!hideColumns" style="width: 9%; text-align: start; vertical-align: middle;" class="align-left" >Min. Version</th>
            <th *ngIf="!hideColumns && !staticMode" style="width: 8%; min-width: 70px; text-align: start; vertical-align: middle;" class="align-left" >Rollout</th>
            <th *ngIf="!hideColumns" style=" width: 11%; vertical-align: middle; text-align: center;" class="align-right">Enabled</th>
            <th *ngIf="!hideColumns" style="width:7%; min-width: 60px; vertical-align: middle;" class="-align-right"></th>
        </tr>
        <tr class="black-muted-bg" *ngIf="showExperimentsHeader">
            <th style="width: 3%; vertical-align: middle;" class="align-right"></th>
            <th style="width: 3%; text-align: start;  vertical-align: middle;" class="align-left" align="left"></th>
            <th style="width: 20%; text-align: start;  vertical-align: middle;" class="align-left" align="left"></th>
            <th style="width: 8%; text-align: start;  vertical-align: middle;" class="align-left branch-name" align="left">
                Branch Name
            </th>
            <th *ngIf="showAnalytics" style="width: 12%; text-align: center; vertical-align: middle;" class="align-left">Dashboard</th>
            <th style="width: 11%; text-align: start; vertical-align: middle;" class="align-left">Stage</th>
            <th style="width: 8%; text-align: start; vertical-align: middle;" class="align-left" >Min. Version</th>
            <th style="width: 9%; text-align: start; vertical-align: middle;" class="align-left" >Max. Version</th>
            <th style="width: 8%; min-width: 70px; text-align: start; vertical-align: middle;" class="align-left" >Rollout</th>
            <th style=" width: 11%; vertical-align: middle; text-align: center;" class="align-right">Enabled</th>
            <th style="width:7%; min-width: 60px; vertical-align: middle;" class="-align-right"></th>
        </tr>
        <tr class="black-muted-bg" *ngIf="showStreamsHeader">
            <!--<th style="width: 3%; vertical-align: middle;" class="align-right"></th>-->
            <!--<th style="width: 3%; text-align: start;  vertical-align: middle;" class="align-left" align="left"></th>-->
            <th style="width: 52%; text-align: start;  vertical-align: middle;" class="align-left" align="left">
                <div class="row">
                    <div class="col-12">
                        <div *ngIf="showSearch && isOverScrolled()" class="rightFlexContainer">
                            <span class="middle-align-element">
                                <i class="ion-ios-search-strong searchIcon"></i>
                            </span>
                            <input class="form-control smallPad" placeholder="Search for..." type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterFeatures()" (keyup.enter)="getNextResult()">
                            <span class="search-count-header">{{getNumResults(numSearchResults)}}</span>
                            <i aria-hidden="true" class="ion-chevron-down search-down-button-header clearSearchIcon" *ngIf="numSearchResults > 0"
                               (click)="getNextResult()"></i>
                            <i aria-hidden="true" class="ion-chevron-up search-up-button-header clearSearchIcon" *ngIf="numSearchResults > 0"
                               (click)="getPreviousResult()"></i>
                            <i aria-hidden="true" class="ion-close-circled clearSearchIcon search-clear-header" *ngIf="searchQuery?.length > 0"
                               (click)="clearSearch()"></i>
                        </div>
                    </div>
                </div>
            </th>
            <th style="width: 11%; text-align: start; vertical-align: middle;" class="align-left">Stage</th>
            <th style="width: 8%; text-align: start; vertical-align: middle;" class="align-left" >Min. Version</th>
            <th style="width: 8%; min-width: 70px; text-align: start; vertical-align: middle;" class="align-left" >Rollout</th>
            <th style=" width: 11%; vertical-align: middle; text-align: center;" class="align-right">Enabled</th>
            <th style="width:7%; min-width: 60px; vertical-align: middle;" class="-align-right"></th>
        </tr>
    </thead>
</table>
