
<modal #documentlinksModal id="documentlinksModal"  class="documentlinksModal"  [backdrop]="'static'" data-keyboard="false" data-backdrop="static">
    <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>
    <div id="tloader" [hidden]="!loading">
        <div></div>
    </div>
    <modal-header [show-close]="true">
        <h4 class="modal-title">
            <span >
                 Download Defaults and Constants
            </span>

        </h4>
        <h5 class="modal-title">
            {{getString('document_links_subheader')}}
        </h5>
    </modal-header>
    <modal-body *ngIf="seasonId != null">
        <div *ngIf="false" class="form-group tab-div-container">
            <label class="control-label">Platform:</label>
            <div style="display: table-cell;">
                <div class="btn-group" dropdown style="vertical-align:baseline">
                    <button type="button" class="btn btn-primary" dropdownToggle>
                        {{buttonText}}
                    </button>
                    <ul class="dropdown-menu" dropdownMenu>
                        <template ngFor let-item [ngForOf]="platforms" [ngForTrackBy]="itemTrackBy" let-i="index" >
                            <li class="dropdown-item" (click)="selectItem(i)" style="cursor: pointer">{{item}}</li>
                        </template>

                    </ul>

                </div>
            </div>
        </div>
        <span>
            <template ngFor let-item [ngForOf]="links" [ngForTrackBy]="itemTrackBy" let-i="index" >
                <li style="cursor: pointer">
                    <!--<a class="docLink" download target=“_self” href="{{item.link}}">{{item.displayName}}</a>-->
                    <span class="docLink" (click)="downloadLink(item)">{{item.displayName}}</span>
                </li>
            </template>
                    <div class="row" style = "margin-top: 10px;" >
                        <div class="col-md-12 no-padding-left">
                            <div  class="no-margin "  *ngIf = "staticRuntimeDevelopment != null">
                                <label for="input02" class="control-label">Runtime Development Link</label>
                                <div style="display: table-cell;width: 95%;">
                                <input #keyTarget type="text" readonly="true" id="input02" placeholder="" [(ngModel)]="staticRuntimeDevelopment"  class="form-control  blackText" tabindex="2">
                                    </div>
                                    <div style="display: table-cell;">
                                <button class="btn btn-outline-secondary ion-ios-copy copy-button" [xngClipboard]="keyTarget"></button>
                                </div>
                            </div>
                        </div>

                    </div>
            <div class="row" style = "margin-top: 10px;" >
                                        <div class="col-md-12 no-padding-left">
                            <div  class="no-margin "  *ngIf = "staticRuntimeProduction != null">
                                <label for="input02" class="control-label">Runtime Production Link</label>
                                <div style="display: table-cell;width: 95%;">
                                <input #keyTargetRuntime type="text" readonly="true" id="input02" placeholder="" [(ngModel)]="staticRuntimeProduction"  class="form-control  blackText" tabindex="2">
                                    </div>
                                    <div style="display: table-cell;">
                                <button class="btn btn-outline-secondary ion-ios-copy copy-button" [xngClipboard]="keyTargetRuntime"></button>
                                </div>
                            </div>
                        </div>

            </div>
        </span>

    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
    </modal-footer>
</modal>
