.has-success .control-label {
  //color: black;
}
.editStringModal{

}
.editStringModal .has-success .control-label {
  color: #ffffff;
}
.editStringModal .box{
  box-sizing:border-box;
}

.editStringModal .whiteText{
  color: white !important;
  //color: black !important;
  //border: 1px solid #00abff !important;
}

.editStringModal .modal-content{
  background: currentColor;//url("assets/img/sky-bg.jpg");
}

.editStringModal .modal-title{
  color:white !important;
}
//.select2-container--default{
//  border: solid white 1px;
//  background-color: currentColor;
//}
//

.editStringModal .select2-container--default .select2-selection--multiple {
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.1);
}
.editStringModal .modal-content{
  background: currentColor;//url("assets/img/sky-bg.jpg");
}
//.editStringModal .select2-container--default .select2-selection--multiple {
//  background-color: currentColor !important;
//  color: currentColor !important;
//}
.editStringModal .select2-selection__choice{
  color: white;
  background-color: #337ab7 !important;
}


.editStringModal .tab-content {
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.1);
}

.editStringModal .select2{
  display:block !important;
}

h6 .modal-title {
  font-size: 12px;
}

/*
.editStringModal .btn {
  display: inline-block;
  padding: 6px 12px;
  width: 600px;
  text-align: left;
}*/
.select2-selection__rendered
{
  height: 35px;
  overflow: auto !important;
}

.instruction-field {
  height: 50px;
}
.btn {
  float: right;
  margin-left: 8px;
}
.btn.btn-default {
  border-color: white;
  color: white;
}
