<!--    <modal #myModal  class="editStringModal"  [backdrop]="'static'">-->
<!--        <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>-->
<div id="tloader" [hidden]="!loading">
    <div></div>
</div>
<nb-card class="fixed-size-modal">
    <nb-card-header *ngIf="valid == true">
        <h4 class="modal-title">
                <span>
                     {{title}}
                </span>
        </h4>
    </nb-card-header>
    <nb-card-body *ngIf="valid == true && objToSend != null">
        <div class="box">

            <div class="form-group">
                <label for="input02" class="control-label">String ID</label>
                <airlock-tooltip class="endFlexContainer" [content]="getString('string_key_tooltip')" [placement]=""
                                 [title]="getString('add_feature_namespace_title')"></airlock-tooltip>
                <i class="mandatoryField" [tooltip]="getString('tooltip_mandatory_field')">*</i>
                <input type="text" id="input02" [class.mustType]="isInputWarningOn(objToSend.key)"
                       [(ngModel)]="objToSend.key" class="form-control  whiteText" tabindex="1">
            </div>
            <div class="form-group">
                <label for="input01" class="control-label">String Value</label>
                <airlock-tooltip class="endFlexContainer" [content]="getString('string_value_tooltip')"
                                 [title]="getString('add_feature_name_title')"></airlock-tooltip>
                <i class="mandatoryField" [tooltip]="getString('tooltip_mandatory_field')">*</i>
                <input type="text" id="input01" [class.mustType]="isInputWarningOn(objToSend.value)"
                       [(ngModel)]="objToSend.value" class="form-control whiteText" tabindex="2">
            </div>
            <!--<div  class="form-group">-->
            <!--<label for="input03" class="control-label">Stage</label>-->
            <!--<airlock-tooltip class="endFlexContainer" [content]="getString('add_feature_name')" [title]="getString('add_feature_name_title')"></airlock-tooltip>-->
            <!--&lt;!&ndash;<input type="text" id="input03"  [(ngModel)]="feature.displayName"  class="form-control whiteText" tabindex="3" >&ndash;&gt;-->
            <!--<select [(ngModel)]="objToSend.stage" [disabled] = "true">-->
            <!--<option [value]="'DEVELOPMENT'">DEVELOPMENT</option>-->
            <!--<option [value]="'PRODUCTION'">PRODUCTION</option>-->
            <!--</select>-->
            <!--</div>-->

            <div class="form-group">
                <label for="input04" class="control-label">International Fallback</label>
                <airlock-tooltip class="endFlexContainer" [content]="getString('string_fallback_tooltip')"
                                 [title]="getString('add_feature_group_title')"></airlock-tooltip>
                <input type="text" id="input04" [(ngModel)]="objToSend.internationalFallback"
                       class="form-control whiteText" tabindex="2">
            </div>
            <div class="form-group">
                <label for="input05" class="control-label">Instructions for Translators</label>
                <airlock-tooltip class="endFlexContainer" [content]="getString('string_translationInstruction_tooltip')"
                                 [title]="getString('add_feature_group_title')"></airlock-tooltip>
                <textarea type="text" id="input05" [(ngModel)]="objToSend.translationInstruction"
                          class="form-control whiteText instruction-field" tabindex="2"></textarea>
            </div>

            <div class="form-group">
                <label for="input07" class="control-label">Max translation length</label>
                <airlock-tooltip class="endFlexContainer" [content]="getString('string_maxSize_tooltip')"
                                 [title]="getString('add_feature_group_title')"></airlock-tooltip>
                <input type="number" id="input07" [(ngModel)]="objToSend.maxStringSize" class="form-control whiteText"
                       tabindex="1">
            </div>

        </div>
    </nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Cancel</button>
    </nb-card-footer>
</nb-card>
<!--    </modal>-->
