<div id="tloader" [hidden]="!loading">
    <div></div>
</div>
<nb-card class="fixed-size-modal">
    <!--<modal #addProductModal id="addProductModal" class="addProductModal" >-->
    <!--    <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>-->

    <nb-card-header>
        <h4 class="modal-title">
            <span *ngIf="_product.name">
                 Add Product - {{_product.name}}
            </span>
            <span *ngIf="!_product.name">
                 Add Product
            </span>
        </h4>
        <h5 class="modal-title">
            {{getString('add_product_subheader')}}
        </h5>
    </nb-card-header>
    <nb-card-body>


        <div class="row">
            <div class="form-group col-md-12">
                <label for="name" class="control-label">Name</label>
                <!--                    <i class="mandatoryField" [tooltip]="getString('tooltip_mandatory_field')">*</i>-->
                <i class="mandatoryField">*</i>
                <airlock-tooltip class="endFlexContainer" [content]="getString('add_product_name')"
                                 [title]="getString('add_product_name_title')"></airlock-tooltip>
                <input type="text" class="form-control" id="name" placeholder="" class="form-control whiteText"
                       [(ngModel)]="_product.name" name="name" required>
            </div>
            <!--<div class="form-group col-md-6">-->
            <!--<label for="codeIdentifier" class="control-label">Code Identifier</label>-->
            <!--<input type="text" class="form-control" id="codeIdentifier" placeholder="" class="form-control blackText"-->
            <!--[(ngModel)]="_product.codeIdentifier" name="codeIdentifier" required>-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="description" class="control-label">Description</label>
                <airlock-tooltip class="endFlexContainer" [content]="getString('add_product_description')"
                                 [title]="getString('add_product_description_title')"></airlock-tooltip>
                <textarea class="form-control" id="description" style="height: 60px" placeholder=""
                          class="form-control whiteText"
                          [(ngModel)]="_product.description" name="description"></textarea>
            </div>
        </div>


    </nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-primary" (click)="save()">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Cancel</button>
    </nb-card-footer>
    <!--</modal>-->
</nb-card>
