<!--<modal #editModal id="editModal" class="editWebhookModal"  [backdrop]="'static'" data-keyboard="false" data-backdrop="static">-->
<!--    <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>-->
<div id="tloader" [hidden]="!loading">
    <div></div>
</div>
<nb-card [class.center-fixed-size-modal]="!inlineMode" [style.width]="modalWidth" [style.height]="modalHeight" [class.edit-inline]="inlineMode" *ngIf="visible">
    <nb-card-header *ngIf="webhook != null">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
                <span>
                     {{title}} - {{webhook?.name}}
                </span>
        </h4>
    </nb-card-header>
    <nb-card-body >
        <div class="box" *ngIf="webhook != null" style="padding-top: 10px">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input01" class="control-label">Name</label>
                        <i class="mandatoryField" [tooltip]="getString('tooltip_mandatory_field')">*</i>
                        <airlock-tooltip class="endFlexContainer" [content]="getString('add_webhook_name')"
                                         [title]="getString('add_webhook_name_title')"></airlock-tooltip>
                        <input [class.mustType]="isInputWarningOn(webhook.name)" type="text" id="input01"
                               [(ngModel)]="webhook.name" class="form-control whiteText" tabindex="2">
                    </div>
                    <div class="form-group">
                        <label for="input01" class="control-label">URL</label>
                        <i class="mandatoryField" [tooltip]="getString('tooltip_mandatory_field')">*</i>
                        <airlock-tooltip class="endFlexContainer" [content]="getString('add_webhook_url')"
                                         [title]="getString('add_webhook_url_title')"></airlock-tooltip>
                        <input [class.mustType]="isInputWarningOn(webhook.url)" type="text" id="input02"
                               [(ngModel)]="webhook.url" class="form-control whiteText" tabindex="2">
                    </div>
                    <div class="form-group">
                        <label for="input01" class="control-label">Products</label>
                        <airlock-tooltip class="endFlexContainer" [content]="getString('add_webhook_products')"
                                         [title]="getString('add_webhook_products_title')"></airlock-tooltip>
                        <br>
                        <span [class.hide]="globalWebhook">
                            <nb-select [(selected)]="selectedProducts" multiple *ngIf="!loading" class="full-no-padding"
                                       placeholder="Select Product">
                                        <nb-option hero *ngFor="let product of possibleProdsList" value="{{product.uniqueId}}"> {{ product.name }} </nb-option>
                            </nb-select>
                            </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input01" class="control-label">Minimum Stage</label>
                        <airlock-tooltip class="endFlexContainer" [content]="getString('edit_webhook_minStage')"
                                         [title]="getString('edit_webhook_minStage_title')"></airlock-tooltip>
                        <!--<input [class.mustType] = "isInputWarningOn(webhook.name)"   type="text" id="input01" [(ngModel)]="webhook.name" class="form-control whiteText" tabindex="2" >-->
                        <div class="minStage-div">
                            <nb-select [(selected)]="webhook.minStage" *ngIf="!loading" class="full-no-padding"
                                       [placeholder]="webhook.minStage">
                                <nb-option hero value="PRODUCTION">Production</nb-option>
                                <nb-option hero value="DEVELOPMENT">Development</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="no-margin " *ngIf="webhook != null">
                            <label for="input28" class="control-label">Creator</label>
                            <airlock-tooltip class="endFlexContainer" [content]="getString('edit_notification_creator')"
                                             [title]="getString('edit_notification_creator_title')"></airlock-tooltip>
                            <input type="text" id="input28" disabled placeholder="" [(ngModel)]="webhook.creator"
                                   class="form-control blackText">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="no-margin " *ngIf="webhook != null">
                            <label for="input80" class="control-label">Creation Date</label>
                            <airlock-tooltip class="endFlexContainer"
                                             [content]="getString('edit_notification_creation_date')"
                                             [title]="getString('edit_notification_creation_date_title')"></airlock-tooltip>
                            <input type="text" id="input80" disabled placeholder=""
                                   [value]="creationDate | date:'medium'" class="form-control blackText">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="no-margin " *ngIf="webhook != null">
                            <label for="input82" class="control-label">Last Modified</label>
                            <airlock-tooltip class="endFlexContainer"
                                             [content]="getString('edit_notification_last_modified')"
                                             [title]="getString('edit_notification_last_modified_title')"></airlock-tooltip>
                            <input type="text" id="input82" disabled placeholder=""
                                   [value]="lastModificationDate | date:'medium'" class="form-control blackText">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer *ngIf="webhook != null">
        <button type="button" class="btn btn-primary align-button-left" *ngIf="inlineMode" data-dismiss="modal" (click)="openOnNewTab()">
            <i class="fa ion-compose"></i>Open in New Tab</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="isOnlyDisplayMode">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Cancel</button>
    </nb-card-footer>
</nb-card>
