<div [class.row]="inlineMode">
    <div class="container_not authorization-page" [class.col-md-6]="inlineMode">
    <div>
        <div id="tloader" [hidden]="!loading">
            <div></div>
        </div>
        <div style="float: right;    display: flex;">
            <button  style="margin-right: 0px;" type="button" class="btn btn-primary" (click)="addWebhook()">
                <i class="ion-plus"></i>
                Add Webhook
            </button>

        </div>
        <custom-airlock-header [showAddAuthUser]="false" [showDisplayOptions]="false" [hideColumns]="true" [simpleSearch]="false"
                               [showSearch]="true" (onSearchQueryChanged)="onSearchQueryChanged($event)" [numSearchResults]="getNumItems()"
                               (onNextSearchResult)="showNextSearchResult($event)" [selectedResultNum]="selectedIndex" [showTableHeader]="!inlineMode"
                               ></custom-airlock-header>

        <div *ngIf="webhooks?.length > 0" class="row col-sm-12 featuresContainer" style="padding-bottom: 20px">
            <div [class.panel]="true" [class.hide]="!(webhooks?.length > 0)" [class.panel-warning]="true" [class.mx-group-background]="true" [class.full-width]="true" style="margin-bottom: 2px; margin-top: 2px;">
                <div class="panel-body" [class.smallPadding]="true" [class.noPadding]="false" [class.noRightPadding]="false">
                    <ul class="list-group" style="margin: 0px; background-color: transparent">
                        <webhook-cell *ngFor="let webhook of webhooks; let i = index"
                                           [webhook]="webhook"
                                           [level]="0"
                                           [searchTerm]="searchQueryString"
                                           [showDevFeatures]="showDevFeatures"
                                           [filterlistDict]="filterlistDict"
                                           [shouldOpenCell]="isCellOpen(webhook.uniqueId)"
                                           [selectedId]="selectedId"
                                            (onEditInline)="showEditInline(webhook)"
                                            (onSearchHit)="webhookIsInFilter($event)"
                                           (onCellClick)="webhookChangedStatus($event)"
                                           (onUpdate)="refreshTable()"
                                           (hideIndicator)="afterUpdate()"
                                           (beforeUpdate)="beforeUpdate()"
                                           (onSelected)="itemIsSelected($event)"
                        ></webhook-cell>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
    <div [class.col-md-6]="inlineMode">
        <edit-webhook-modal #editInline (onClose)="closeEditInline('')" (onEditWebhook)="refreshTable()" [visible]="inlineMode"></edit-webhook-modal>
    </div>
</div>
