ul {
  margin-bottom: 0px;

}
.panel {
  background-color: rgba(255,255,255,0.40);
}

.panel-body[_ngcontent-hoa-10] {
  padding: 8px;
}

.panel-warning {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}
.hide {
  display: none;
}
.feature-cell {
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

.fix-to-top {
  position: fixed;
  top: 110px;
  z-index: 100;
}

.row.col-sm-12.featuresContainer {
  margin: 0px;
  padding: 0px;
}

.top-dropdown-menu.profile-dropdown {
  width: 250px;
  top: 45px;
  right: -20px;
  left: auto;
  z-index: 9999999;
}

.top-dropdown-menu.profile-dropdown i.dropdown-arr {
  right: 25px;
}

a.disabled {
  color: gray !important;
  cursor: not-allowed;
  text-decoration: underline;
}
.top-dropdown-menu.profile-dropdown a {
  color: black;
}
.btn:hover {
  transform: none !important;
    background-color: #009ff3 !important;

}

.btn-group button.btn.btn-primary:hover {
  background-color: #009ff3;
}

bigger-font {
  font-size: 22px;
}
.dropdown-toggle::after {
  display: none !important;
}

/*wrapper cell*/
ul {
  margin-bottom: 0px;

}
.panel {
  background-color: rgba(255,255,255,0.40);
}

.panel-body[_ngcontent-hoa-10] {
  padding: 8px;
}

.panel-warning {
  margin-bottom: 20px;
}

.smallPadding {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.mx-group-panel {
  color: white;
  text-shadow: 0.5px 0.5px #1C2B36;
  font-size: small;

}

.mx-group-background {
  /*background-color: rgba(67, 154, 78, 0.82);*/
  background-color: rgba(62, 79, 125, 0.82);
}

.panel {
  border-radius: 2px;
}

.configTitle {
  padding-left: 4px;
  float: left;
}

.reorder-button {
  float: right;
  padding-top: 0px;
  text-shadow: 0.5px 0.5px #1C2B36;
}

.list-group {
  margin-bottom: 0px;
}

button.profile-toggle-link.btn.btn-default.btn-icon.reorder-button {
  padding-top: 2px;
}

.authorization-page {
  .buttonTitle {
    height: 48px;
    margin-top: -6px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .ui-select-toggle.btn:hover {
    transform: none !important;
    color: white;
  }
  .ui-select-choices {
    width: inherit;
  }
  .ui-select-bootstrap > .ui-select-choices {
    width: inherit;
    min-width: 300px;
    height: auto;
    max-height: 200px;
    overflow-x: inherit;
    margin-top: -1px;
  }
  .ui-select-choices {
    width: inherit;
  }
  .ui-select-choices-row:hover {
    background-color: #f5f5f5;
  }

  .ui-select-bootstrap .ui-select-choices-row.active>a {
    color: black;
    text-decoration: none;
    outline: 0;
    background-color: #eaeaea;
  }
  .ui-select-container.dropdown.open {
    width: 250px;
  }
  .limit-height {
    height:calc(100vh - 270px);
    overflow: auto;
  }
  .dark-background {
    background: rgba(62, 80, 107, 0.33);
  }
}

span.glyphicon{
  display: none !important;
}

.left-aligned-column {
  max-width: 280px;
  overflow-y: hidden;
  text-align: left !important;
}

.limit-width {
  overflow-x: auto;
}
.center-aligned-column {
  text-align: center !important;
}

::-webkit-scrollbar {
  height: 0.25rem;
}

.group-user {
  color: #fffabb;
}

span.btn.btn-default.btn-secondary.form-control.ui-select-toggle {
  transform: none !important;
}

.ui-select-toggle.btn:hover {
  transform: none !important;
  color: white;
}
