<div [class.row]="inlineMode">
    <div class="container_not" [class.col-md-6]="inlineMode">
        <div>
            <div id="tloader" [hidden]="!loading">
                <div></div>
            </div>
            <div style="float: right;    display: flex;" *ngIf="selectedSeason != null">

                <!--            <button  style="margin-right: 8px;" *ngIf="addFeatureModal.isShownADDButton()" [hidden]="!addFeatureModal.valid" type="button" (click)="addFeatureModal.open(rootId)" class="btn btn-primary">-->
                <button style="margin-right: 8px;" type="button" (click)="addFeature()" class="btn btn-primary">
                    <i class="ion-plus"></i>
                    Add Feature
                </button>
                <div class="btn-group" *ngIf="!isViewer()" dropdown style="margin-right: 8px;" [hidden]="selectedSeason == null">
                    <button [nbPopover]="templateRef" nbPopoverPlacement="bottom" id="single-button" type="button" class="btn btn-primary" dropdownToggle title="Actions">
                        <i class="ion-settings"></i>
                    </button>
                    <ng-template #templateRef>
                        <ul class="menu-items">
                            <li class="dropdown-item"  *ngIf="isShowEditSchema() "><a (click)="onEditInputSchema();hidePopover()"><i class="fa ion-compose" style="margin-right: 5px;"></i>Edit context schema</a></li>
                            <li class="dropdown-item"  *ngIf="isShowViewSchema() "><a  (click)="onEditInputSchema(false);hidePopover()" style=""><i class="fa ion-compose" style="margin-right: 5px;"></i>View input schema</a></li>
                            <li class="dropdown-item"  *ngIf="isShowEditUtil() "><a  (click)="onEditUtilities();hidePopover()"><i class="fa ion-hammer" style="margin-right: 5px;"></i>Edit utilities</a></li>
                            <li  class="dropdown-item" *ngIf="isShowOptions()"><a  (click)="onShowDocumentLinks();hidePopover()"><i class="fa ion-ios-download-outline" style="margin-right: 5px;"></i>Download defaults file</a></li>
                            <li  class="dropdown-item" *ngIf="isShowEncryption() "><a (click)="onShowEncryptionKey();hidePopover()"><i class="fa ion-key" style="margin-right: 5px;"></i>Show encryption key</a></li>
                            <li  class="dropdown-item" *ngIf="isShowOptions()"><a (click)="reorder();hidePopover()"><i class="fa fa-sort" style="margin-right: 5px;"></i>Reorder</a></li>
                            <li  class="dropdown-item" *ngIf="isShowOptions() && seasonSupportAnalytics  "><a (click)="onShowContext();hidePopover()"><i class="fa ion-radio-waves" style="margin-right: 5px;"></i>Report on context fields</a></li>
                            <li  class="dropdown-item" *ngIf="seasonSupportAnalytics"><a (click)="toggleDataCollectionDetails();hidePopover()"><i class="ion-ios-information-outline info-icon" style="margin-right: 5px;"></i>View Data Collection Summary</a></li>
                            <li  class="dropdown-item"  *ngIf="isShowImport()"><a (click)="openImportFeatureModal(false);hidePopover()"><i class="fa ion-log-in" style="margin-right: 5px;"></i>Import</a></li>
                            <li  class="dropdown-item"  *ngIf="isShowImport()" ><a [class.disabled]= "!isShowPaste()" (click)="isShowPaste() && openImportFeatureModal(true);hidePopover()"><i class="fa fa-clipboard" style="margin-right: 5px;"></i>Paste</a></li>
                        </ul>
                    </ng-template>
                </div>
            </div>


            <wl-summary [(visible)]="showDialog" [(analyticDataForDisplay)]="analyticDataForDisplay"
                        [totalCount]="totalAnaliticsCount" [totalCountDev]="totalAnaliticsDevCount"
                        [totalCountQuota]="totalCountQuota" [selectedBranch]="selectedBranch"></wl-summary>
<!--            <search-screen [visible]="showAdvancedSearch"></search-screen>-->
<!--            <nb-search type="column-curtain" tag="column-curtain"></nb-search>-->
            <div>{{searchValue}}</div>
            <custom-airlock-header
                    [selectedProduct]="selectedProduct"
                    [showTableHeader]="!inlineMode"
                    [selectedSeason]="selectedSeason"
                    [showConfig]="showConfig"
                    (onShowConfigChanged)="setShowConfig($event)"
                    [showOrdering]="showOrdering"
                    (onShowOrderingChanged)="setShowOrdering($event)"
                    [showDevFeatures]="showDevFeatures" (onShowDevFeaturesChanged)="setShowDevFeatures($event)"
                    [selectedResultNum]="selectedFeatureIndex" [showAnalytics]="seasonSupportAnalytics"
                    [showNotInBranch]="showNotInBranch" (onShowNotInBranchChanged)="setShowNotInBranch($event)"
                    [showSearch]="true" [showExperiments]="false" (onSearchQueryChanged)="onSearchQueryChanged($event)"
                    [numSearchResults]="this.filteredFeatures.length"
                    (onNextSearchResult)="showNextSearchResult($event)"
                    (onShowAdvancedSearch)="toggleAdvancedSearch()"></custom-airlock-header>

            <div class="row col-sm-12 featuresContainer" style="padding-bottom: 20px" *ngIf="selectedSeason != null">
                <feature-cell *ngFor="let container of features; let i = index" class=""
                              [feature]="container" [level]="0"
                              [insideMX]="false"
                              [inlineMode]="inlineMode"
                              (onUpdate)="refreshTable($event)"
                              (hideIndicator)="afterUpdate()"
                              (beforeUpdate)="beforeUpdate()"
                              (onCellClick)="featureChangedStatus($event)"
                              (onSearchHit)="featureIsInFilter($event)"
                              (onSelected)="featureIsSelected($event)"
                              (onEditInline)="showEditInline($event)"
                              [shouldOpenCell]="isCellOpen(container?.uniqueId)"
                              [openFeatures]="openFeatures"
                              [featuresPath]="[]"
                              [parentFeatureId]="rootId"
                              [contextFeatureId]="rootId"
                              [showConfig]="showConfig"
                              [showNotInBranch]="showNotInBranch"
                              [showDevFeatures]="showDevFeatures"
                              [filterlistDict]="filterlistDict"
                              [searchTerm]="searchQueryString"
                              [seasonSupportAnalytics]="seasonSupportAnalytics"
                              [canImportExport]="importExportSupport"
                              [branch]="selectedBranch"
                              [selectedFeatureId]="selectedFeatureId"
                ></feature-cell>
            </div>
        </div>
    </div>
    <div [class.col-md-6]="inlineMode">
        <edit-feature-page #editInline (onClose)="closeEditInline($event)" [visible]="inlineMode"></edit-feature-page>
    </div>
</div>

