ul {
  margin-bottom: 0px;

}
.panel {
  background-color: rgba(255,255,255,0.40);
}

.panel-body[_ngcontent-hoa-10] {
  padding: 8px;
}

.panel-warning {
  margin-bottom: 20px;
}

.feature-cell {
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

.fix-to-top {
  position: fixed;
  top: 110px;
  z-index: 100;
}

.row.col-sm-12.featuresContainer {
  margin: 0px;
  padding: 0px;
}

.top-dropdown-menu.profile-dropdown {
  width: 250px;
  top: 45px;
  right: -20px;
  left: auto;
  z-index: 9999999;
}

.top-dropdown-menu.profile-dropdown i.dropdown-arr {
  right: 25px;
}

a.disabled {
  color: gray !important;
  cursor: not-allowed;
  text-decoration: underline;
}
.top-dropdown-menu.profile-dropdown a {
  color: black;
}
.btn:hover {
  transform: none !important;
    background-color: #009ff3 !important;

}

.btn-group button.btn.btn-primary:hover {
  background-color: #009ff3;
}

bigger-font {
  font-size: 22px;
}
.dropdown-toggle::after {
  display: none !important;
}

.main-actions .dropdown-item {
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.full-feature-mode {
  visibility: hidden;
}
