<div id="tloader" [hidden]="!loading">
    <div></div>
</div>
<nb-card>
    <nb-card-header>
            <span>
                <ul class="listOfData" *ngIf="title != null">
                    <li class="" *ngFor="let s of title.split('\n')">
                        <h4>{{s}}</h4>
                    </li>
                </ul>
            </span>
            <ul class="listOfData" *ngIf="text != null">
                <li *ngFor="let s of text.split('\n')">
                    <h5>{{s}}</h5>
                </li>
            </ul>

    </nb-card-header>
    <nb-card-body>

        <form *ngIf="feature!=null || experiment!=null || variant!=null || stream!=null || notification!=null || verifyModalDialogType==10 || cohort!=null || poll!=null || question!=null || answer!=null || openAnswer!=null">
            <div class="row">
                <div class="form-group col-md-12">
                    <label *ngIf="!openAnswer" for="name" class="control-label">Re-type {{getType()}} name to confirm (<span
                            class="feature-name">{{getName()}}</span>)</label>
                    <label *ngIf="openAnswer" for="name" class="control-label">Type 'yes' to confirm (<span
                            class="feature-name">{{getName()}}</span>)</label>
                    <input type="text" class="form-control" id="name" placeholder="" class="form-control blackText"
                           [(ngModel)]="validationNameString" name="name" required>
                    <div></div>
                    <div class="checkbox-flex" *ngIf="confirmSubfeatureStageChange">
                        <input type="checkbox" id="checkboxname" class="form-control blackText check-all"
                               [(ngModel)]="confirmRecursiveStageChange" name="checkboxname" required>
                        <label for="checkboxname"
                               class="control-label-checkbox">{{getString('verify_action_nb-card_recursive_stage_change')}}</label>

                    </div>

                </div>

            </div>
        </form>

    </nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">Cancel</button>
        <button *ngIf="showDiscard" type="button" class="btn btn-default" data-dismiss="modal" (click)="discard()">
            Discard
        </button>
        <button *ngIf="confirmSubfeatureStageChange" type="button" class="btn btn-primary" (click)="save()"
                [title]="getConfirmTitle()"
                [disabled]="!validationNameString &&  feature!=null || !confirmRecursiveStageChange">Confirm
        </button>
        <button *ngIf="!confirmSubfeatureStageChange" type="button" class="btn btn-primary" (click)="save()"
                [disabled]="!validationNameString && feature!=null ">Confirm
        </button>
    </nb-card-footer>
</nb-card>
<!--</modal>-->
