
<div class="includedItems">
    <div *ngFor="let includedPurch of getIncludedFeatures(); let idx = index">
        <div [class.panel]="shouldStyleCell()" class="transBack" [class.panel-warning]="shouldStyleCell()" style="margin-bottom: 2px; margin-top: 2px;"
        >
            <div class="panel-body" [class.smallPadding]="shouldStyleCell()" [class.noPadding]="true" [class.noRightPadding]="false">
                <ul class="list-group" style="margin: 0px; background-color: transparent">
                    <table class="myTable table-hover feature-cell" [style.background-color]="getBackgroundStyle()" [style.color]="getColorStyle()"
                           [class.regular-cell]="true"
                           [class.panel]="true">
                        <tr *ngIf="includedPurch != null">

                            <td style="width: 3%; vertical-align: middle;" (click)="cellClicked()" class="align-right somePad" [style.color]="getColorStyle()">

                            </td>
                            <td style="width: 92%; text-align: start;  vertical-align: middle; overflow: hidden;text-overflow: ellipsis;" class="align-left" align="left"><a class="cursor" [style.color]="getTextColor()">{{_featureUtils.getDisplayNameForBothPurchaseAndMX(includedPurch)}}</a></td>
                            <td style="width: 5%; text-align: center;  vertical-align: middle; overflow: hidden;text-overflow: ellipsis;" class="align-right" align="center">
                                    <span style="cursor: pointer">
                                            <i  style="cursor: pointer" class="fa ion-trash-b remove-order-icon button-behavior" (click)="removePurchase(includedPurch)" *ngIf = "!readonly && isAlreadyIncluded(includedPurch)"></i>
                                            <i  style="cursor: pointer" class="ion-plus button-behavior add-subfeature-button" (click)="addPurchase(includedPurch)" *ngIf="!readonly && !isAlreadyIncluded(includedPurch)"></i>
                                        </span>
                            </td>
                        </tr>

                    </table>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tree-container" [class.col-sm-12]="true" *ngIf="(showAll && root != null) || feature!=null">
    <div [class.col-sm-10]="true">
                        <span>
                            <div style="display: table-cell;">
                                                <ng-select #selectPurchase *ngIf="!loading" [allowClear]="true"
                                                           [items]="getPurchasesForSelect()"
                                                           (selected)="selectPurchaseFromSelect($event)"
                                                           [placeholder]=""
                                                           [(ngModel)]="selectedItems"
                                                           [disabled]="readonly"
                                                >
                                                </ng-select>
                                            </div>
                            <!--<included-purchases-node style="margin-bottom: 0px"-->
                                           <!--[feature]="root" [level]="(0)" [insideMX]="false"-->
                                           <!--(onCellClick)="myFeatureChangedStatus($event)"-->
                                           <!--[shouldOpenCell]="true"-->
                                           <!--[targetFeature]="feature"-->
                                           <!--[openFeatures]="openFeatures"-->
                                           <!--[parentFeatureId]="root.uniqueId"-->
                                           <!--[contextFeatureId]="root.uniqueId"-->
                                           <!--[featurePath]="_featurePath"-->
                                           <!--[currentFather]="currentFather"-->
                                           <!--[markedFeatureId]= "markedFeatureId"-->
                                           <!--(onCellSelected)="setCurrentFather($event)"-->
                                           <!--[featureType]="featureType"-->
                                           <!--[mtxType]="mtxType"-->
                            <!--&gt;</included-purchases-node>-->
                        </span>
    </div>

</div>
