.floatContainer {
  overflow: hidden;
}
.floatRight {
  float: right;
}

.airlock-header {
  padding: 4px;
  height: 25px;
}

.tContainer {

  padding-left: 5px;
  padding-right: 5px;
}

.right-margin {
  margin-right: 4px;
}

.airlock-search {
  z-index: 1;
}
.branch-name {
  opacity: 0.7;
}
.header-table {
  background: lightgrey;
  //position: fixed;
  //top: 190px;
  z-index: 999;
  padding-left: 4px;
  padding-right: 4px;
}

.fixed-value {
  position: fixed;
  top: 66px;
  font-size: small;
}

.header-placeholder {
  height: 46px;
}

.test {
  display: none;
}

.airlock-header tr {
    line-height: 25px;
    min-height: 25px;
    height: 25px;
}

.airlock-header th {
  line-height: 25px;
  min-height: 25px;
  height: 25px;
}

.pad {
  height: 50px;
}

.configCheckBox {
  display: block;
  float: right;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.page-top .rightFlexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}


.no-padding-left {
  padding-left: 0px;
}

.buttonTitle {
  padding-right: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.middle-align-element {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.row-middle-align-element {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.leftBut {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  //background-color: rgba(40,40,40,0,5);
}
.showConfigText {
  height: 34px;
  margin-right: 4px;
}

.noMarginBottom {
  margin-bottom: 0px;
}

.butNotSelected {
  background-color: transparent;
  color: rgba(205,205,205,1);
  border-color: rgba(205, 205, 205, 0.5);
}

.butSelected {
  color: rgba(256,256,256,1);
  //background-color: rgba(134, 127, 127, 0.24);
  //background-color: #286090;
  background-color: rgba(255, 255, 255, 0.28);
  border-color: rgba(255, 255, 255, 0.5);
}
.configBut {
  //border-color: rgba(255, 255, 255, 0.5);
}

.configBut:hover {
  background-color: #286090;
}
.smallPad {
  element.style {
    padding-top: 0.3rem;
    padding-bottom: 0.0rem;
  }
}
.searchIcon {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;

}

.headerCard {
  padding-bottom: 0px;
  z-index: 9;
  position: relative;
}

.smallMargin {
  margin-bottom: 4px;
}

ul.dropdown-menu {
  width:100%;
  a {
    width: 100%;
  }
}

ul.dropdown-menu-wide {
  width:450%;
  a {
    width: 450%;
  }
}

.dropdown-menu1 {
  position: absolute;
  z-index: 99999999;
  min-width: 200px;
}

.displayOptions {
  width: 200px;
  height: 35px;
}

.ui-multiselect {
  width: 200px;
  height: 35px;
}


.full-width {
  width: 100%;
}

span.btn.btn-default.btn-secondary.form-control.ui-select-toggle {
  background: transparent;
  background-color: transparent;
}

.form-control {
  background: transparent;
}

.feature-filter {
  background-color: transparent;
  background: transparent;
  margin-right: 4px;
  min-width: 200px;
  .text-muted {
    color: white;
  }
}

.free-text-filter {
  height: 32px;
}

span.btn.btn-default.btn-secondary.form-control.ui-select-toggle {
  min-width: 151px;
}
.feature-filter {

  .toggle {
    font-size: 6px;
  }
}

ng-select.feature-filter > div > div.single > div.toggle {
  font-size: 6px;
  color: white;
}

.input-group.input-group-sm {
  margin: 0px;
  color: black;
}

li.dropdown-item.search {
  margin: 0px;
}

.locales-filter {
  margin-right: 4px;
}

.layout-select {
  border: 1px solid #009ff3;
  border-radius: 2px;
  height: 32px;
}
.layout-selected {
  margin-bottom: 0px;
  background: #009ff3;
  width: 100%;
}

.layout-selected:hover {
  border-color: #009ff3;
}
.layout-not-selected {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0px;
}

.layout-not-selected:hover {
  background: darkblue;
}

.search-count {
  opacity: 0.65;
  float: right;
  top: 9px;
  position: absolute;
  right: 62px;
}

.search-down-button {
  opacity: 0.75;
  float: right;
  top: 9px;
  position: absolute;
  right: 28px;
  border-radius: 2px;
}

.search-up-button {
  opacity: 0.75;
  float: right;
  top: 9px;
  position: absolute;
  right: 44px;
  border-radius: 2px;
}

.search-down-button-header {
  opacity: 0.75;
  float: right;
  top: 5px;
  position: absolute;
  right: 36px;
  border-radius: 2px;
}

.search-up-button-header {
  opacity: 0.75;
  float: right;
  top: 5px;
  position: absolute;
  right: 52px;
  border-radius: 2px;
}

.search-up-button:hover {
  background-color: rgba(0, 100, 0, 0.36);
}

.search-down-button:hover {
  background-color: rgba(0, 100, 0, 0.36);
}

.search-up-button-header:hover {
  background-color: rgba(0, 100, 0, 0.36);
}

.search-down-button-header:hover {
  background-color: rgba(0, 100, 0, 0.36);
}

.clearSearchIcon:hover {
  color: #f7f7f7;
  cursor: pointer;
}

.search-clear {
  opacity: 0.5;
  float: right;
  top: 9px;
  position: absolute;
  right: 10px;
}
.search-clear-simple {
  right: 18px;
}
.search-clear:hover {
  opacity: 1;
}

.search-clear-header {
  opacity: 0.5;
  float: right;
  top: 5px;
  position: absolute;
  right: 18px;
}
.search-clear-header:hover {
  opacity: 1;
}

.search-count-header {
  opacity: 0.85;
  float: right;
  top: 5px;
  position: absolute;
  right: 70px;
}
.btn-group {
  width: auto !important;
}
