//.has-success .control-label {
//  color: black;
//}
//
//.control-label {
//  color: black;
//}
//
//.box{
//  box-sizing:border-box;
//}
//
//.blackText{
//  //color: black !important;
//  border: 1px solid #00abff !important;
//}
//.has-success .control-label {
//  //color: black;
//}
.addProductModal{

}
.addProductModal .has-success .control-label {
  color: #ffffff;
}
.addProductModal .box{
  box-sizing:border-box;
}

.addProductModal .whiteText{
  color: white !important;
  //color: black !important;
  //border: 1px solid #00abff !important;
}

.addProductModal .modal-content{
  background: currentColor;//url("assets/img/sky-bg.jpg");
}

.addProductModal .modal-title{
  color:white !important;
  text-overflow: ellipsis !important;
}
//.select2-container--default{
//  border: solid white 1px;
//  background-color: currentColor;
//}
//

.addProductModal .select2-container--default .select2-selection--multiple {
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.1);
}
.addProductModal .modal-content{
  background: currentColor;//url("assets/img/sky-bg.jpg");
}
//.addProductModal .select2-container--default .select2-selection--multiple {
//  background-color: currentColor !important;
//  color: currentColor !important;
//}
.addProductModal .select2-selection__choice{
  color: white;
  background-color: #337ab7 !important;
}


.addProductModal .tab-content {
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.1);
}

.addProductModal .select2{
  display:block !important;
}

h6 .modal-title {
  font-size: 12px;
}

.addProductModal{
  .btn:hover {
    transform: none !important;
    color: white;
    background-color: #337ab7 !important;
  }
}

.fixed-size-modal {
  width: 680px;
  height: auto;
}
