<!--<verify-action-modal #verifyActionModal [feature]="feature" (onActionApproved)="_changeStage()"></verify-action-modal>-->
<div [class.col-sm-12]="true" *ngIf="((feature?.type=='ORDERING_RULE' || feature.orderingRules?.length > 0 || isMainConfigCell()) && !isFilteredOut())">
    <div #configurationCell [class.col-sm6]="true">
        <div [class.not-in-branch]="!partOfBranch" [class.panel]="shouldStyleCell()" [class.highlight-cell]="shouldHightlight()" [class.panel-warning]="shouldStyleCell()" [class.main-mx-group-order-background]="feature?.type=='ORDERING_RULE_MUTUAL_EXCLUSION_GROUP' && isMainConfigCell()" [class.mx-group-background]="feature?.type=='ORDERING_RULE_MUTUAL_EXCLUSION_GROUP' && feature?.orderingRules?.length > 1 && !isMainConfigCell()" style="margin-bottom: 2px; margin-top: 2px;">
            <div class="panel-body" [class.smallPadding]="shouldStyleCell()" [class.noPadding]="shouldNotStyleCell()" [class.noRightPadding]="isSubFeature()">
                <ul class="list-group" style="margin: 0px; background-color: transparent">
                    <div *ngIf="feature?.type=='ORDERING_RULE_MUTUAL_EXCLUSION_GROUP' && (feature.orderingRules?.length > 1 || isMainConfigCell())" class="mx-group-panel">
                        <p class="configTitle">{{getConfigurationString()}}</p>
                        <button [disabled]="!partOfBranch" *ngIf="isShowAddToGroup()" class="profile-toggle-link btn btn-default btn-icon reorder-button" [style.border-width]="0" aria-expanded="false" (click)="addNewFeatureToMXGroup()">
                            <i class="fa ion-plus-round"></i>
                            Add Ordering Rule
                        </button>
                        <button [disabled]="!partOfBranch" *ngIf="isShowReorder()" class="profile-toggle-link btn btn-default btn-icon reorder-button" [style.border-width]="0" aria-expanded="false" (click)="reorder()">
                            <i class="fa fa fa-sort"></i>
                            Reorder
                        </button>
                    </div>

                    <table *ngIf="!isMainConfigCell()" class="table table-hover feature-cell" [style.background-color]="getBackgroundStyle()" [class.selected-feature]="isSelectedFeature()" [style.color]="getColorStyle()">

                        <tr *ngIf="feature?.type=='ORDERING_RULE'">

                            <td style="width: 3%; vertical-align: middle;" (click)="cellClicked()" class="align-right" [style.color]="getNextColorStyle()">
                                <i *ngIf="feature.orderingRules?.length > 0" [class.ion-arrow-right-b]="!isOpen" [class.ion-arrow-down-b]="isOpen"></i>
                            </td>
                            <td style="width: 3%; text-align: start;  vertical-align: middle;" class="align-left" align="left">
                            </td>
                            <td style="width: 3%; text-align: start;  vertical-align: middle;" (click)="promptChangeSendToAnalytics()" class="align-left" align="left">
                                <div class="">
                                    <i class="reported-to-analytics-icon ion-radio-waves" [tooltip]="getSendToAnalyticsTooltip()" [ngClass]="{'reported':feature.sendToAnalytics,'cell-button':!feature.sendToAnalytics, 'not-reported':!feature.sendToAnalytics}"></i>
                                </div>
                            </td>
                            <td style="width: 45%; text-align: start;  vertical-align: middle;" (click)="cellClicked()" class="align-left descpCell" align="left">
                                <div class="descpDiv">
                                    <a (click)="openEditDialog($event)" class="cursor" [innerHTML]="highlighted">
                                    </a>
                                    <i *ngIf="(feature?.description?.length > 0)" class="ion-ios-information-outline info-icon" [tooltip]="getDescriptionTooltip(feature.description)" [isDisabled]="(feature?.description?.length <= 0)" ></i>
                                </div>
                            </td>
                            <td style="width: 12%; text-align: start; vertical-align: middle;" (click)="cellClicked()" class="align-left capitalize" [class.prod]="isInProduction()" >
                                <span class="capitalize">{{feature.stage | lowercase}}</span>
                                <i *ngIf="shouldShowUserGroups()" class="ion-ios-people user-groups" [tooltip]="userGroupsText()" [isDisabled]="!(shouldShowUserGroups())" ></i>
                            </td>
                            <td style="width: 8%; text-align: start; vertical-align: middle;" (click)="cellClicked()" class="align-left" ><span class="">{{feature.minAppVersion}}</span></td>
                            <td style="width: 8%; min-width: 70px; text-align: center; vertical-align: middle;" (click)="cellClicked()" class="align-left" >
                                <div style="vertical-align: middle; height: 20px;">
                                    <progressbar class="progress progress-striped" value="{{feature.rolloutPercentage}}" max="100" type="primary">
                                        <div class="progress-text-align">
                                            <span>{{feature.rolloutPercentage}}%</span>
                                        </div>
                                    </progressbar>
                                </div>
                            </td>
                            <td style="width: 11%; vertical-align: middle;" (click)="doNothing()" class="align-right">
                                <div style="vertical-align: middle;" class="middle-align-element">
                                    <!--<ui-switch disabled size="small" color="#2D5C18" [checked]="feature.enabled" (change)="feature.enabled = $event"></ui-switch>-->
                                    <i aria-hidden="true" class="ion-checkmark-round featureEnabled" *ngIf="feature.enabled"></i>
                                    <i aria-hidden="true" class="ion-close-round featureDisabled" *ngIf="!feature.enabled"></i>
                                </div>
                            </td>

                            <td style="width:7%; min-width: 60px; vertical-align: middle; text-align: end;" class="-align-right" (click)="doNothing()">
                                <div class="dropdown  buttonMargin noExpand maxWidth" dropdown>
                                    <button dropdownToggle class="profile-toggle-link btn btn-icon btn-circle" id="user-profile-dd33" data-toggle="dropdown" aria-expanded="false" (click)="status.isopen = !status.isopen" title="Actions">
                                        <i class="ion-settings"></i>
                                    </button>
                                    <ul dropdownMenu role="menu" class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd" dropdownMenu>
                                        <li class="dropdown-item"><i class="dropdown-arr"></i></li>
                                        <li class="dropdown-item" *ngIf="!isShowOptions()"><a (click)="openEditDialog()"><i class="fa ion-compose"></i>Details</a></li>
                                        <li class="dropdown-item" *ngIf="isShowOptions()"><a (click)="openEditDialog()"><i class="fa ion-compose"></i>Edit</a></li>
                                        <li class="dropdown-item" *ngIf="isAddDevelopmentSubConfig()"><a (click)="openAddDialog()"><i class="fa ion-android-funnel"></i>Add sub-ordering rule</a></li>
                                        <li class="dropdown-item" *ngIf="isShowOptions()"><a (click)="addFeatureToMXGroup()" class="signout"><i class="fa fa-bullseye"></i>Configure mutual exclusion</a></li>
                                        <li class="dropdown-item"  *ngIf="isShowOptions() && isShowReorderForCell()"><a (click)="reorderSubOrderingRules()" ><i class="fa fa-sort"></i>Reorder</a></li>

                                        <li class="dropdown-divider"></li>

                                        <li class="dropdown-item" *ngIf="isShowReleaseToProduction()"><a (click)="changeStage()"><i class="fa" [class.ion-code-working]="feature.stage!='DEVELOPMENT'" [class.fa-flag]="feature.stage=='DEVELOPMENT'"></i>{{feature.stage=='DEVELOPMENT'? 'Release to production' : 'Revert to development'}}</a></li>
                                        <li class="dropdown-divider" *ngIf="isShowReleaseToProduction()"></li>

                                        <li class="dropdown-item" *ngIf="isShowOptions()" ><a (click)="delete()" class="signout destructive" [style.color]="getDeleteColor()" style="color: red;"><i class="fa ion-trash-b"></i>Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    </table>
                    <span *ngIf="!isMainConfigCell() && isOpen" class="transition" [ngClass]="{'transitionActive':isOpen}" (transitionend)="transitionEnd()" [hidden]="remove">
                            <order-cell style="margin-bottom: 0px" *ngFor="let subFeature of feature?.orderingRules; let idx = index" class=""
                                                [feature]="subFeature" [level]="(level+1)" [editFeatureModal]="editFeatureModal" [insideMX]="false"
                                                (onUpdate)="myOnUpdate($event)"
                                                (beforeUpdate)="myBeforeUpdate($event)"
                                                (hideIndicator)="myHideIndicator($event)"
                                                (onCellClick)="myFeatureChangedStatus($event)"
                                                (onSelected)="mySelected($event)"
                                                [shouldOpenCell]="isCellOpen(subFeature.uniqueId)"
                                                [openFeatures]="openFeatures"
                                                [addFeatureModal]="addFeatureModal"
                                                [addToMXGroupModal]="addToMXGroupModal"
                                                [parentFeatureId]="feature.uniqueId"
                                                [contextFeatureId]="feature.uniqueId"
                                                (onSearchHit)="mySearchHit($event)"
                                                [reorderMXGroupModal]="reorderMXGroupModal"
                                                [sourceFeature]="sourceFeature"
                                                [featuresPath]="getNextFeaturePath()"
                                                [mainConfigCell]="false"
                                                [searchTerm]="searchTerm"
                                                [addConfigurationModal]="addConfigurationModal"
                                                [wlAttributesModalDialog]="wlAttributesModalDialog"
                                                [showDevFeatures]="showDevFeatures"
                                                [filterlistDict]="filterlistDict"
                                                [verifyActionModal]="verifyActionModal"
                                                [branch]="branch"
                                                [partOfBranch]="partOfBranch"
                                                [selectedFeatureId]="selectedFeatureId"
                            ></order-cell>
                        </span>
                    <span *ngIf="feature?.type=='ORDERING_RULE_MUTUAL_EXCLUSION_GROUP'">
                            <!--<div *ngIf="feature?.type=='ORDERING_RULE_MUTUAL_EXCLUSION_GROUP' && isMainConfigCell()" class="mx-group-head" style="margin-bottom: 4px;">-->

                                <!--<table class="table table-hover feature-cell" [style.background-color]="getHeadBackgroundStyle()" [style.color]="getHeadColorStyle()">-->
                                    <!--<tr *ngIf="feature?.type=='ORDERING_RULE_MUTUAL_EXCLUSION_GROUP' && isMainConfigCell()">-->
                                        <!--<td style="width: 3%; vertical-align: middle;" class="align-right" [style.color]="getNextColorStyle()">-->

                                        <!--</td>-->
                                        <!--<td style="width: 3%; text-align: start;  vertical-align: middle;" class="align-left" align="left">-->
                                        <!--</td>-->
                                        <!--<td style="width: 3%; text-align: start;  vertical-align: middle;" class="align-left" align="left">-->
                                            <!--<div class="hidden">-->
                                                <!--<i class="reported-to-analytics-icon ion-radio-waves" [ngClass]="{'reported':feature.sendToAnalytics, 'not-reported':!feature.sendToAnalytics}"></i>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                        <!--<td style="width: 60%; text-align: start;  vertical-align: middle;" class="align-left descpCell" align="left">-->
                                            <!--<div class="descpDiv">-->
                                                <!--<a (click)="openDefault()" class="cursor ">-->
                                                <!--Default-->
                                                <!--</a>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                        <!--<td style="width: 15%; text-align: start; vertical-align: middle;" class="align-left capitalize"></td>-->
                                        <!--<td style="width: 6%; text-align: center; vertical-align: middle;" (click)="cellClicked()" class="align-left" >-->
                                            <!--<div style="vertical-align: middle; height: 20px;" class="hidden">-->
                                                <!--<progressbar class="progress progress-striped" value="{{feature.rolloutPercentage}}" max="100" type="primary">-->
                                                    <!--<div class="progress-text-align">-->
                                                        <!--<span>{{feature.rolloutPercentage}}%</span>-->
                                                    <!--</div>-->
                                                <!--</progressbar>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                        <!--<td style="width: 11%; vertical-align: middle;" class="align-right">-->
                                            <!--<div style="vertical-align: middle;" class="middle-align-element hidden">-->
                                                <!--&lt;!&ndash;<ui-switch disabled size="small" color="#2D5C18" [checked]="feature.enabled" (change)="feature.enabled = $event"></ui-switch>&ndash;&gt;-->
                                                <!--<i aria-hidden="true" class="ion-checkmark-circled" style="color: #2D5C18" *ngIf="feature.enabled"></i>-->
                                                <!--<i aria-hidden="true" class="ion-android-cancel" style="color: red" *ngIf="!feature.enabled"></i>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                        <!--<td style="width: 5%; vertical-align: middle;" class="-align-left">-->
                                            <!--<div class="dropdown buttonMargin">-->
                                                <!--<button style="visibility: hidden;" class="profile-toggle-link btn btn-icon btn-circle" id="user-profile-dd44" data-toggle="dropdown" aria-expanded="false">-->
                                                    <!--<i class="ion-settings"></i>-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                <!--</table>-->
                            <!--</div>-->
                            <order-cell style="margin-bottom: 0px" *ngFor="let subFeature of feature?.orderingRules; let idx = index" class=""
                                                [feature]="subFeature" [level]="getNextLevel()" [editFeatureModal]="editFeatureModal" [insideMX]="true"
                                                (onUpdate)="myOnUpdate($event)"
                                                (beforeUpdate)="myBeforeUpdate($event)"
                                                (hideIndicator)="myHideIndicator($event)"
                                                (onCellClick)="myFeatureChangedStatus($event)"
                                                (onSelected)="mySelected($event)"
                                                [shouldOpenCell]="isCellOpen(subFeature.uniqueId)"
                                                [openFeatures]="openFeatures"
                                                [addFeatureModal]="addFeatureModal"
                                                [parentFeatureId]="feature.uniqueId"
                                                [contextFeatureId]="parentFeatureId"
                                                [sourceFeature]="sourceFeature"
                                                [addToMXGroupModal]="addToMXGroupModal"
                                                [reorderMXGroupModal]="reorderMXGroupModal"
                                                [featuresPath]="getNextFeaturePath()"
                                                (onSearchHit)="mySearchHit($event)"
                                                [searchTerm]="searchTerm"
                                                [mainConfigCell]="false"
                                                [selectedFeatureId]="selectedFeatureId"
                                                [addConfigurationModal]="addConfigurationModal"
                                                [wlAttributesModalDialog]="wlAttributesModalDialog"
                                                [showDevFeatures]="showDevFeatures"
                                                [filterlistDict]="filterlistDict"
                                                [verifyActionModal]="verifyActionModal"
                                                [branch]="branch"
                                                [partOfBranch]="partOfBranch"
                            ></order-cell>
                        </span>
                </ul>
            </div>
        </div>
    </div>
    <!--</div>-->

</div>
