.modal-dialog {
  border-width: 2px;
  border-color: azure;
  border-style: solid;
  border-radius: 3px;
  .has-success .control-label {
    color: white;
  }
  .modal-title {
    color: rgba(white,0.9);
    font-weight: normal;
  }

  .close {
    color: white;
    opacity: 0.8;
  }

  .blackText{
    //color: white !important;
    border: 1px solid rgba(255,255,255,0.6) !important;
    background: rgba(255, 255, 255, 0.1);
  }

  .blackText[disabled] {
    color: rgba(255, 255, 255, 0.5);
  }

  .control-label {
    color: rgba(white,0.8) !important;
  }
  .control-label-rule {
    color: rgba(white,0.8) !important;
    font-size: 15px;
  }

  .form-control:focus {
    box-shadow: none;
    border: 1px solid rgba(256,256,256,1.0) !important;
    background: rgba(255, 255, 255, 0.2);
  }

  .modal-footer {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    border-top: 1px solid rgba(229, 229, 229, 0.25);
  }
  .list-group {
    color: white;
  }
  .list-group-item {
    background-color: rgba(256,256,256,0.2);
  }
  .panel-heading {
    color: white;
  }

  .list-group-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .selected {
    background: rgba(256,256,256,0.6);
  }

  .tab-content {
    background: transparent;
    padding-right: 0px;
    padding-left: 0px;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  span.select2-selection.select2-selection--multiple {
    height: 35px;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 3.5px;
  }
  span.select2.select2-container.select2-container--default {
    color: transparent;
    background: rgba(255, 255, 255, 0.1);
  }

  .select2-selection--multiple:focus {
    box-shadow: none;
    border: 1px solid rgba(256,256,256,1.0) !important;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }

  .modal-dialog .selected {
    background-color: #00abff !important;
  }

}
.modal-text {
  color: #ffdad4;
}
.modal-content {
  background-color: #373a3c;
}


.simple-notification.bare {
  background: #d67f7f;
  color: #264a60;
  border: 2px solid #d67f7f;

}

.airlock-toast {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 2px #999999;
  -webkit-box-shadow: 0 0 2px #999999;
  box-shadow: 0 0 2px #999999;
  opacity: 0.8;
  .toast-error {
    //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR…ftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important;
  }
}
#toast-container .toast {
  background-position: 15px 15px;
}
.airlock-toast-text {
}

.airlock-toast-title {
  font-weight: 600;
}
.bare .sn-title {
  font-weight: bold;
  color: darkred;
}

.simple-notification-wrapper.right.bottom[hidden] {
  border: 2px solid black;
}

.endFlexContainer {
  float: right;
}

.featureBranchTooltip {
  position: relative;
  top: -4px;
}

.mandatoryField {
  color: red;
  margin-right: 5px;
  font-size: large;
}

.mustType{
  border-color: red !important;
}

.addVariantModal .mustTypeSelect {
  .ui-select-toggle {
    border-color: red !important;
  }
}



.popover-title {
  color: #0a0c55;
}

//::-webkit-scrollbar {
//  width: 12px;
//}

::-webkit-scrollbar-button {
  color: transparent;
  visibility: hidden;
}
::-webkit-scrollbar-corner {
  color: transparent;
  visibility: hidden;
}

::-webkit-scrollbar-track-piece {
  color: transparent;
  visibility: hidden;
}

//::-webkit-scrollbar-thumb:hover {
//  background-color: #aaa;
//}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-control {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  font-size: 12px;
}

body.modal-open {
  font-size: 0.9rem;
}