
<nb-card #profileModal>
    <div id="tloader" [hidden]="!loading">
        <div></div>
    </div>
    <nb-card-header>
        <h4 class="modal-title">
            <span>
                 Profile
            </span>
        </h4>
        <h5 class="modal-title">
            {{userName}}
        </h5>
    </nb-card-header>
    <nb-card-body>

        <form>
            <!--<h5 class="modal-title">API details</h5>-->
            <div class="form-group has-success" *ngFor="let key of keys">
                <label class="control-label">{{getName(key)}}</label>
                <input disabled type="text" class="form-control" placeholder="" class="form-control blackText"
                       name="{{key}}" [value]="props[key]">
            </div>
        </form>

        <iframe *ngIf="hasNoAuthentication()" width="560" height="315" src="https://www.youtube.com/embed/9w_zn3uRwPU?autoplay=1&controls=0" frameborder="0" allowfullscreen></iframe>

    </nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
    </nb-card-footer>
</nb-card>
