.has-success .control-label {
  color: white;
}

.control-label {
  color: white;
}

.box{
  box-sizing:border-box;
}

.blackText{
  //color: black !important;
  border: 1px solid #00abff !important;
}
