//@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@nebular/theme/components/select/select.component.css";


.has-success .control-label {
  //color: black;
}
.addFeatureModal{

}
.addFeatureModal .has-success .control-label {
  color: #ffffff;
}
.addFeatureModal .box{
  box-sizing:border-box;
}

.addFeatureModal .whiteText{
  color: white !important;
  //color: black !important;
  //border: 1px solid #00abff !important;
}

.addFeatureModal .modal-content{
  background: currentColor;//url("assets/img/sky-bg.jpg");
}

.addFeatureModal .modal-title{
  color:white !important;
  text-overflow: ellipsis;
}
//.select2-container--default{
//  border: solid white 1px;
//  background-color: currentColor;
//}
//

.addFeatureModal .select2-container--default .select2-selection--multiple {
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.1);
}
.addFeatureModal .modal-content{
  background: currentColor;//url("assets/img/sky-bg.jpg");
}
//.addFeatureModal .select2-container--default .select2-selection--multiple {
//  background-color: currentColor !important;
//  color: currentColor !important;
//}
.addFeatureModal .select2-selection__choice{
  color: white;
  background-color: #337ab7 !important;
}


.addFeatureModal .tab-content {
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.1);
}

.addFeatureModal .select2{
  display:block !important;
  width:100% !important;
}

.addFeatureModal .select2-selection{
  //display:block !important;
  //width:100% !important;
}

h6 .modal-title {
  font-size: 12px;
}

/*
.addFeatureModal .btn {
  display: inline-block;
  padding: 6px 12px;
  width: 600px;
  text-align: left;
}*/
.select2-selection__rendered
{
  height: 35px;
  overflow: auto !important;
}

.nb-card {
  width: 800px;
  height: 450px;
}
