


    <modal #myModal  class="addStringModal"  [backdrop]="'static'">
        <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>
        <div id="tloader" [hidden]="!loading">
            <div></div>
        </div>
        <modal-header [show-close]="true"  *ngIf="valid == true">
            <h4 class="modal-title" >
                <span>
                     {{title}}
                </span>
            </h4>
        </modal-header>
        <modal-body  *ngIf="valid == true" >
            <div class="box">

                <div  class="form-group required">
                    <label for="input02" class="control-label">String ID</label>
                    <airlock-tooltip class="endFlexContainer" [content]="getString('string_key_tooltip')" [placement]="" [title]="getString('add_feature_namespace_title')"></airlock-tooltip>
                    <i class="mandatoryField" [tooltip]="getString('tooltip_mandatory_field')">*</i>
                    <input type="text" id="input02" required="required" [class.mustType] = "isInputWarningOn(key)" [(ngModel)]="key"  class="form-control  whiteText"  tabindex="1">
                </div>
            <div  class="form-group required">
                <label for="input03" class="control-label">String Value</label>
                <airlock-tooltip class="endFlexContainer" [content]="getString('string_value_tooltip')" [title]="getString('add_feature_name_title')"></airlock-tooltip>
                <i class="mandatoryField" [tooltip]="getString('tooltip_mandatory_field')">*</i>
                <input type="text" id="input03" required="required" [class.mustType] = "isInputWarningOn(value)" [(ngModel)]="value"  class="form-control whiteText" tabindex="2" >
            </div>
            <!--<div  class="form-group">-->
                <!--<label for="input03" class="control-label">Stage</label>-->
                <!--&lt;!&ndash;<airlock-tooltip class="endFlexContainer" [content]="getString('add_feature_name')" [title]="getString('add_feature_name_title')"></airlock-tooltip>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" id="input03"  [(ngModel)]="feature.displayName"  class="form-control whiteText" tabindex="3" >&ndash;&gt;-->
                <!--<select [(ngModel)]="stage">-->
                    <!--<option [value]="'DEVELOPMENT'">DEVELOPMENT</option>-->
                    <!--<option [value]="'PRODUCTION'">PRODUCTION</option>-->
                <!--</select>-->
            <!--</div>-->

            <div  class="form-group">
                <label for="input04" class="control-label">International Fallback</label>
                <airlock-tooltip class="endFlexContainer" [content]="getString('string_fallback_tooltip')" [title]="getString('add_feature_group_title')"></airlock-tooltip>
                <input type="text" id="input04"  [(ngModel)]="fallback"  class="form-control whiteText" tabindex="2" >
            </div>
            <div  class="form-group required">
                <label for="input06" class="control-label">Instructions for Translators</label>
                <airlock-tooltip class="endFlexContainer" [content]="getString('string_translationInstruction_tooltip')" [title]="getString('add_feature_group_title')"></airlock-tooltip>
                <i class="mandatoryField" [tooltip]="getString('tooltip_mandatory_field')">*</i>
                <textarea type="text" id="input06" required="required" [class.mustType] = "isInputWarningOn(translationInstruction)" [(ngModel)]="translationInstruction"  class="form-control whiteText instruction-field" tabindex="2" ></textarea>
            </div>

                <div  class="form-group">
                    <label for="input07" class="control-label">Max translation length</label>
                    <airlock-tooltip class="endFlexContainer" [content]="getString('string_maxSize_tooltip')" [title]="getString('add_feature_group_title')"></airlock-tooltip>
                    <input type="number" id="input07"  [(ngModel)]="maxStringSize"  class="form-control whiteText" tabindex="2">
                </div>

            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="save()">Add</button>
        </modal-footer>
    </modal>
