.has-success .control-label {
  color: black;
}

.control-label {
  color: black;
}

.box{
  box-sizing:border-box;
}

.blackText{
  //color: black !important;
  border: 1px solid #00abff !important;
}

.feature-name {
  color: rgba(255, 255, 255, 0.5);
}