<div [class.row]="inlineMode">
    <div class="container_not" [class.col-md-6]="inlineMode">    <div>
        <div id="tloader" [hidden]="!loading">
            <div></div>
        </div>
        <div style="float: right;    display: flex;">
            <button  style="margin-right: 0px;" type="button" class="btn btn-primary" (click)="addPurchase()" *ngIf="isShowAddPurchase()">
                <i class="ion-plus"></i>
                Add Entitlement
            </button>
        </div>
        <custom-airlock-header [showConfig]="showConfig" (onShowConfigChanged)="setShowConfig($event)"[showNotInBranch]="showNotInBranch"  [showDevFeatures]="showDevFeatures" (onShowDevFeaturesChanged)="setShowDevFeatures($event)"
                               [showDisabled]="showDisabled" (onShowDisabledChanged)="setShowDisabled($event)" (onShowNotInBranchChanged)="onShowNotInBranchChanged($event)"
                               [showSearch]="true" [showPurchases] = "true" [showExperiments]="false" (onSearchQueryChanged)="onSearchQueryChanged($event)" [numSearchResults]="filteredItems.length"
                               (onNextSearchResult)="showNextSearchResult($event)" [selectedResultNum]="selectedIndex" [showAnalytics]="false" [showOrderingOption]="false" [showPurchasesPage]="true" [showTableHeader]="!inlineMode"
                               ></custom-airlock-header>

        <div class="row col-sm-12 featuresContainer" style="padding-bottom: 20px" *ngIf="selectedBranch != null">
            <purchase-cell *ngFor="let container of purchasesRoot?.entitlements; let i = index" class=""
                          [feature]="container" [level]="0"
                           [insideMX]="false"
                           [inlineMode]="inlineMode"
                          (onUpdate)="refreshTable(null,$event)"
                          (hideIndicator)="afterUpdate()"
                          (beforeUpdate)="beforeUpdate()"
                          (onCellClick)="purchaseChangedStatus($event)"
                          (onSearchHit)="purchaseIsInFilter($event)"
                          (onSelected)="itemIsSelected($event)"
                          (onEditInline)="showEditInline($event)"
                          [shouldOpenCell]="isCellOpen(container?.uniqueId)"
                          [openFeatures]="openPurchases"
                          [featuresPath]="[]"
                          [parentFeatureId]="rootId"
                          [contextFeatureId]="rootId"
                          [showConfig]="showConfig"
                          [showNotInBranch]="showNotInBranch"
                          [showDevFeatures]="showDevFeatures"
                          [filterlistDict]="filterlistDict"
                          [searchTerm]="searchQueryString"
                          [seasonSupportAnalytics]="seasonSupportAnalytics"
                          [canImportExport]="importExportSupport"
                          [branch]="selectedBranch"
                          [selectedFeatureId]="selectedId"
            ></purchase-cell>
    </div>
</div>
</div>
    <div [class.col-md-6]="inlineMode && !inlinePOMode && !inlineConfigMode">
        <edit-purchase-modal #editInline (onClose)="closeEditInline('')" (onEditFeature)="refreshTable()" [visible]="inlineMode && !inlinePOMode && !inlineConfigMode"></edit-purchase-modal>
    </div>
    <div [class.col-md-6]="inlinePOMode">
        <edit-purchase-options-modal #editPOInline (onClose)="closeEditInline('')" (onEditFeature)="refreshTable()" [visible]="inlinePOMode"></edit-purchase-options-modal>
    </div>
    <div [class.col-md-6]="inlineConfigMode">
        <edit-feature-page #editConfigInline (onClose)="closeEditInline('')" (onEditFeature)="refreshTable()" [visible]="inlineConfigMode"></edit-feature-page>
    </div>
</div>
