<verify-action-modal  #verifyActionModal ></verify-action-modal>
<add-purchase-modal #addPurchaseModal [branch]="selectedBranch" [possibleGroupsList]="possibleUserGroupsList" (onPurchaseAdded)="purchaseAdded($event)"></add-purchase-modal>
<add-purchase-option-modal #addPurchaseOptionModal [branch]="selectedBranch" [possibleGroupsList]="possibleUserGroupsList" (onPurchaseOptionsAdded)="purchaseOptionAdded($event)"></add-purchase-option-modal>
<!--<reorder-purchase-mx-group-modal  [verifyActionModal]="verifyActionModal"  #reorderMxGroupModal (onReorderMX)="refreshTable($event)"></reorder-purchase-mx-group-modal>-->
<reorder-mx-group-modal [verifyActionModal]="verifyActionModal"  #reorderMxGroupModal (onReorderMX)="refreshTable($event)"></reorder-mx-group-modal>
<add-purchase-configuration-modal [valid]="valid" #addConfigurationModal [rootId]="rootId" [parentId]="rootId" [possibleGroupsList]="possibleUserGroupsList" style="float: right" [seasonId]="selectedBranch?.seasonId" (onAddFeature)="refreshTable($event)"></add-purchase-configuration-modal>
<edit-purchase-modal [staticMode]="false" [verifyActionModal]="verifyActionModal"  (outputEventWhiteListUpdate)="updateWhitelist($event)" (onShowFeature)="setEditDialog($event)" [season]="selectedSeason" [possibleGroupsList]="possibleUserGroupsList" [rootId]="rootId" [root]="purchasesRoot" #editFeatureModal [rootFeatuteGroups]="purchasesRoot?.entitlements" [feature]="selectedEditedFeature" (onEditFeature)="refreshTable($event)"></edit-purchase-modal>
<edit-purchase-options-modal [staticMode]="false" [verifyActionModal]="verifyActionModal"  (outputEventWhiteListUpdate)="updateWhitelist($event)" (onShowFeature)="setEditDialog($event)" [season]="selectedSeason" [possibleGroupsList]="possibleUserGroupsList" [rootId]="rootId" [root]="purchasesRoot" #editPurchaseOptionsModal [rootFeatuteGroups]="[]" [feature]="selectedEditedFeature" (onEditFeature)="refreshTable($event)"></edit-purchase-options-modal>
<add-to-group-modal #addToMXGroupModal (onSave)="refreshTable($event)"></add-to-group-modal>
<verify-remove-from-branch-modal #verifyRemoveFromBranchModal></verify-remove-from-branch-modal>
<import-purchases-modal [targetBranch] = "selectedBranch" [rootFeatuteGroups]="purchasesRoot?.entitlements"  [season]="selectedSeason" [rootId]="purchasesRoot?.uniqueId" [root]="purchasesRoot" #importFeaturesModal (onImportFeatures)="refreshTable($event)"></import-purchases-modal>

<wl-attributes-modal #wlAttributesModalDialog (outputEventAnalyticsAttributesUpdate)="updateWhitelist($event)" [totalCount]="totalAnaliticsCount" [totalCountDev]="totalAnaliticsDevCount" [totalCountQuota]="totalCountQuota"> </wl-attributes-modal>
<div class="container_not">
    <div>
        <div id="tloader" [hidden]="!loading">
            <div></div>
        </div>
        <div style="float: right;    display: flex;">

            <button  style="margin-right: 0px;" type="button" class="btn btn-primary" (click)="addPurchase()" *ngIf="isShowAddPurchase()">
                <i class="ion-plus"></i>
                Add Entitlement
            </button>
            <div class="btn-group" *ngIf="!isViewer()" dropdown style="margin-right: 8px;" [hidden]="selectedSeason == null">
                <button id="single-button" type="button" class="btn btn-primary" dropdownToggle title="Actions">
                    <i class="ion-settings"></i>
                </button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu-right main-actions">
                    <!--<li role="menuitem"  *ngIf="isShowEditSchema() && !staticMode"><a class="dropdown-item" (click)="onEditInputSchema()" style=""><i class="fa ion-compose" style="margin-right: 5px;"></i>Edit input schema</a></li>-->
                    <!--<li role="menuitem"  *ngIf="isShowViewSchema() && !staticMode"><a class="dropdown-item" (click)="onEditInputSchema(false)" style=""><i class="fa ion-compose" style="margin-right: 5px;"></i>View input schema</a></li>-->
                    <!--<li role="menuitem"  *ngIf="isShowEditUtil() && !staticMode"><a class="dropdown-item" (click)="onEditUtilities()" style=""><i class="fa ion-hammer" style="margin-right: 5px;"></i>Edit utilities</a></li>-->
                    <!--<li  role="menuitem" *ngIf="isShowOptions()"><a class="dropdown-item" (click)="onShowDocumentLinks()"><i class="fa ion-ios-download-outline" style="margin-right: 5px;"></i>Download defaults file</a></li>-->
                    <!--&lt;!&ndash;<li  role="menuitem" *ngIf="isShowOptions()"><a class="dropdown-item" (click)="downloadRuntimeDefaults()"><i class="fa ion-ios-download-outline" style="margin-right: 5px;"></i>Download Runtime files</a></li>&ndash;&gt;-->
                    <!--<li  role="menuitem" *ngIf="isShowOptions() && !staticMode"><a class="dropdown-item" (click)="onShowEncryptionKey()"><i class="fa ion-key" style="margin-right: 5px;"></i>Show encryption key</a></li>-->
                    <!--<li  role="menuitem" *ngIf="isShowOptions()"><a class="dropdown-item" (click)="reorder()"><i class="fa fa-sort" style="margin-right: 5px;"></i>Reorder</a></li>-->
                    <!--<li  role="menuitem" *ngIf="isShowOptions() && seasonSupportAnalytics  && !staticMode"><a class="dropdown-item" (click)="onShowContext()"><i class="fa ion-radio-waves" style="margin-right: 5px;"></i>Report on context fields</a></li>-->

                    <li  role="menuitem"  *ngIf="isShowImport()"><a class="dropdown-item" (click)="importFeaturesModal.open(false,purchasesRoot)"><i class="fa ion-log-in" style="margin-right: 5px;"></i>Import</a></li>
                    <li  role="menuitem"  *ngIf="isShowImport()" ><a class="dropdown-item" [class.disabled]= "!isShowPaste()" (click)="isShowPaste() && importFeaturesModal.open(true,purchasesRoot)"><i class="fa fa-clipboard" style="margin-right: 5px;"></i>Paste</a></li>
                </ul>
            </div>
        </div>
        <custom-airlock-header [showConfig]="showConfig" (onShowConfigChanged)="setShowConfig($event)"[showNotInBranch]="showNotInBranch"  [showDevFeatures]="showDevFeatures" (onShowDevFeaturesChanged)="setShowDevFeatures($event)"
                               [showDisabled]="showDisabled" (onShowDisabledChanged)="setShowDisabled($event)" (onShowNotInBranchChanged)="onShowNotInBranchChanged($event)"
                               [showSearch]="true" [showPurchases] = "true" [showExperiments]="false" (onSearchQueryChanged)="onSearchQueryChanged($event)" [numSearchResults]="filteredItems.length"
                               (onNextSearchResult)="showNextSearchResult($event)" [selectedResultNum]="selectedIndex" [showAnalytics]="false" [showOrderingOption]="false" [showPurchasesPage]="true"
                               ></custom-airlock-header>

        <div class="row col-sm-12 featuresContainer" style="padding-bottom: 20px" *ngIf="selectedBranch != null">
            <purchase-cell *ngFor="let container of purchasesRoot?.entitlements; let i = index" class=""
                          [feature]="container" [level]="0"
                           [editFeatureModal]="editFeatureModal"
                           [insideMX]="false"
                          (onUpdate)="refreshTable($event)"
                          (hideIndicator)="afterUpdate()"
                          (beforeUpdate)="beforeUpdate($event)"
                          (onCellClick)="purchaseChangedStatus($event)"
                          (onSearchHit)="purchaseIsInFilter($event)"
                          (onSelected)="itemIsSelected($event)"
                          [shouldOpenCell]="isCellOpen(container?.uniqueId)"
                          [openFeatures]="openPurchases"
                          [featuresPath]="[]"
                          [addFeatureModal]="addPurchaseModal"
                          [addOptionsModal]="addPurchaseOptionModal"
                          [parentFeatureId]="rootId"
                          [contextFeatureId]="rootId"
                          [reorderMXGroupModal]="reorderMxGroupModal"
                          [showConfig]="showConfig"
                          [showNotInBranch]="showNotInBranch"
                          [showDevFeatures]="showDevFeatures"
                          [filterlistDict]="filterlistDict"
                          [verifyActionModal]="verifyActionModal"
                          [verifyRemoveFromBranchModal]="verifyRemoveFromBranchModal"
                          [importFeaturesModal]="importFeaturesModal"
                          [searchTerm]="searchQueryString"
                          [seasonSupportAnalytics]="seasonSupportAnalytics"
                          [canImportExport]="importExportSupport"
                          [branch]="selectedBranch"
                          [selectedFeatureId]="selectedId"
                          [addConfigurationModal]="addConfigurationModal"
                          [addToMXGroupModal]="addToMXGroupModal"
                          [wlAttributesModalDialog]="wlAttributesModalDialog"
                          [editPurchaseOptionsModal]="editPurchaseOptionsModal"
            ></purchase-cell>
    </div>
</div>
</div>