
<modal #limitModal id="limitModal" class="limitNotificationsModal" [backdrop]="'static'" data-keyboard="false" data-backdrop="static">
    <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>
    <div id="tloader" [hidden]="!loading">
        <div></div>
    </div>
    <modal-header [show-close]="true" *ngIf="_notifications != null" >
        <h4 class="modal-title">
            <span>
                 Notification Limitations
            </span>
            <span style="width:3em;float: right;"> </span>
        </h4>

        <div>
            <h5 class="modal-title">
                {{getString('limit_notifications_subheader')}}
            </h5>
        </div>
    </modal-header>

    <modal-body  *ngIf="_notifications != null">
        <div class="addLimitationDiv">
            <i class="addLimitationBTN fa fa-plus" (click)="addLimitation()"></i>
        </div>
        <ul class="limitationList">
            <template ngFor let-limit [ngForOf]="_notifications.notificationsLimitations" [ngForTrackBy]="itemTrackBy" let-j="index" >
                <li>
                    <div class="myFlexcontainer notifs-limit">
                        <airlock-tooltip [content]="getString('edit_notification_limit')" [title]="getString('edit_notification_limit_title')"></airlock-tooltip>
                        <div class="padding-right padding-leftB control-label">{{getString('edit_notification_limit_occurrenceA')}}</div>
                        <div>
                            <airlock-tooltip [content]="getString('edit_notification_max')" [title]="getString('edit_notification_max_title')"></airlock-tooltip>
                        </div>
                        <div class="padding-right remove-padding-left maxNotificationsDiv">
                            <input type="number" tabindex="4" id="input91" placeholder="" [(ngModel)]="limit.maxNotifications" [value]="limit.maxNotifications || ''"  class="form-control with-success-addon endFlexContainer" type="number" min="0" >
                        </div>
                        <div class="padding-right control-label">{{getString('edit_notification_limit_occurrenceB')}}</div>
                        <div>
                            <airlock-tooltip [content]="getString('edit_notification_min_interval')" [title]="getString('edit_notification_min_interval_title')"></airlock-tooltip>
                        </div>
                        <div class="intervalPicker">
                            <div class="btn-group" dropdown style="vertical-align:baseline">
                                <button type="button" class="btn btn-default intervalPickerBtn" dropdownToggle>
                                    {{usedIntervalsText[j]}}
                                </button>
                                <ul class="dropdown-menu" dropdownMenu>
                                    <template ngFor let-item [ngForOf]="intervalValues" [ngForTrackBy]="itemTrackBy" let-i="index" >
                                        <li *ngIf="!usedIntervals[i] || item == usedIntervalsText[j]" class="dropdown-item" (click)="selectIntervalValue(limit,i,j,item)" style="cursor: pointer">{{item}}</li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                        <div class="padding-right padding-left control-label">{{getString('edit_notification_limit_occurrenceC')}}</div>
                        <div class="removeLimitationDiv">
                            <a (click)="removeLimitation(j)" class="removeLimitationLink signout destructive"><i class="removeLimitationButton fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
            </template>
        </ul>
    </modal-body>

    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    </modal-footer>
</modal>
