
<modal #wlContextModal id="wlContextModal" class="wlContextModal"  [backdrop]="'static'" data-keyboard="false" data-backdrop="static">

    <show-message-modal #showMessageModal></show-message-modal>
    <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>
    <div id="tloader" [hidden]="!loading">
        <div></div>
    </div>
        <modal-header [show-close]="false" *ngIf = "season != null">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">

                <span >
                     {{title}}
                </span>

            </h4>

        </modal-header>
        <modal-body>
            <div class="tabContentBackgroud tab-div-container" >
                <div class="box">
                 <span class="flexcontainer">
                    <h5 class="modal-title">
                        <!--{{getString('edit_input_schema_leading_text')}}-->
                        {{getString('analytics_summary_context_leading_txt_1')}} {{totalCountQuota}} {{getString('analytics_summary_context_leading_txt_2')}}
                        <br>
                        {{getString('analytics_summary_context_leading_txt_3')}} {{totalCount}}
                        <br>
                        {{getString('analytics_summary_context_leading_txt_4')}} {{totalCountDev}}


                        <br>
                        <button class="modalLink modalLinkButton" (click)="showRuleHelp()">{{getString('analytics_summary_context_learn_more')}}</button>

                        <br>
                    </h5>
                </span>
                    <div  class="form-group"  *ngIf = "season != null">
                        <p-tree [value]="contextTree" selectionMode="checkbox" [(selection)]="selectedInputFields"
                                (onNodeSelect)="onNodeSelectingContext($event)" (onNodeUnselect)="onNodeUnselectingContext($event)"

                                [style]="{'max-height':'400px','min-height':'400px','width':'100%', 'overflow':'auto'}" >
                        </p-tree>
                    </div>
                    <span class="flexcontainer">
                    <h5 class="modal-title">
                        {{getString('analytics_summary_context_leading_txt_5')}} {{numSelectedFields}}
                    </h5>
                </span>
                </div>
            </div>
            <input type="text" #plainVersion style="display: none;width: 860px;">

        </modal-body>
        <modal-footer *ngIf = "season != null">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="save()" [disabled] = "isOnlyDisplayMode">Save</button>
        </modal-footer>
    </modal>
